<div class="row">
<% @purchasable.shopping_cart_items.each do |shopping_cart_item| %>
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title"><%= link_to shopping_cart_item.purchasable.introduction, dress_ver_path(:type => shopping_cart_item.purchasable.dress_type.name, :slug => shopping_cart_item.purchasable.slug) %></h3>
		  </div>
		  <div class="panel-body">
				<div class="media">
						<%= link_to image_tag(shopping_cart_item.purchasable.small_image, class: 'media-object'), 
												dress_ver_path(:type => shopping_cart_item.purchasable.dress_type.name, :slug => shopping_cart_item.purchasable.slug), class: 'pull-left thumbnail' %>
				  <div class="media-body">
						<ul class="list-group">
						  <li class="list-group-item"><strong>Precio:</strong> <%= number_to_currency shopping_cart_item.purchasable.price %></li>
						  <li class="list-group-item"><strong>Talla:</strong> <%= shopping_cart_item.size.to_s %></li>
						  <li class="list-group-item"><strong>Color:</strong> <%= shopping_cart_item.color.to_s if !shopping_cart_item.color.nil? %></li>
						  <li class="list-group-item"><strong>Cantidad:</strong> <%= shopping_cart_item.quantity.to_s %></li>
						</ul>
				  </div>
				</div>
			</div>
		</div>
	</div>
<% end %>
</div>

<% if !@price.blank? %>
<div class="row">
	<div class="col-md-12">
		<ul class="list-group">
			<% if current_user.check_if_has_credits %>
				<li class="list-group-item">Subtotal: <%= number_to_currency @subtotal %></li>
				<li class="list-group-item">Tienes <%= number_to_currency current_user.credit_amount %> en créditos</li>
				<li class="list-group-item active">Total: <%= number_to_currency(@price) %> + 
					<%= link_to 'Costo de despacho', display_dispatch_costs_path, :id => 'form_inline', style: "color:white" %></li>
			<% else %>
				<li class="list-group-item active"><strong>Total: <%= number_to_currency(@price) %></strong> + 
					<%= link_to 'Costo de despacho', display_dispatch_costs_path, :id => 'form_inline' %></li>
			<% end %>
		</ul>
	</div>
</div>
<% end %>