<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Nueva dirección de despacho</h4>
      </div>
      <div class="modal-body">
				<%= form_for delivery_info, :validate => true do |f| %>
					<div class="field" style="float:left; margin-right:15px;">
					    <%= f.label :name, 'Nombre completo' %><br/><%= f.text_field :name %>
					  </div>
					  <div class="field" style="float:left; margin-right:15px;">
					    <%= f.label :rut, 'RUT' %><br/><%= f.text_field :rut %>
					  </div>
					  <div class="field">
					    <%= f.label :contact_phone, 'Teléfono de contacto' %><br/><%= f.text_field :contact_phone %>
					  </div>
						<br />
					  <div class="field" style="float:left; margin-right:15px;">
					    <%= f.label :street, 'Calle' %>		
						<div class="help_tip" style="margin-bottom:-20px;">Ejemplo: “Apoquindo”</div>
						<br/><%= f.text_field :street %>
					  </div>
					  <div class="field" style="float:left; margin-right:15px;">
					    <%= f.label :number, 'Número' %>
						<div class="help_tip" style="margin-bottom:-20px;">Ejemplo: “2355”</div>
						<br/><%= f.text_field :number %>
					  </div>
					  <div class="field" style="float:left; margin-right:15px;">
					    <%= f.label :apartment, 'Depto/Casa' %>
						<div class="help_tip" style="margin-bottom:-20px;">Ejemplo: “709”</div>
						<br/><%= f.text_field :apartment %>
					  </div>
					  <div class="field">
					    <%= f.label :commune_id, 'Comuna' %>
						<div class="help_tip" style="margin-bottom:-20px;">Ejemplo: “Las Condes”</div>
						<br/><%= f.grouped_collection_select :commune_id, Region.order(:name), :communes, :name, :id, :name, :prompt=>t('select')%>
					  </div>
						<br />
					  <div class="field">
					    <%= f.label :additional_info, 'Información adicional para quien entrega el producto' %>
						<div class="help_tip" style="margin-bottom:-20px;">Ejemplo: “ Esquina avenida Las Condes. Lo va a recibir Juanita”</div>
						<br />
					    <%= f.text_area :additional_info, :size => '4x3' %>
					  </div>
						<%= f.hidden_field :user_id, :value => @user.id %>
						<%= hidden_field :purchasable, :type, :value => @purchasable.class %>
						<%= hidden_field :purchasable, :id, :value => @purchasable.id %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<%= f.submit('Agregar Dirección', :class => 'btn btn-primary') %>
      </div>
			<% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->