<div class="container">
	<div class="row" style="margin-top:-20px">
		<div id="notice" style="margin-left:20px;"><%= raw notice %></div>
		<%= form_for(@purchase) do |f| %>
			<% if @purchase.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>
					<ul>
						<% @purchase.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1>Detalles de la compra</h1>
			<% if !@site_configuration.free_shipping_from_price.blank? %>
				<% if @site_configuration.free_shipping_from_price > 0 %>
					<p>Recuerda que el despacho es gratis para las compras por sobre <%= number_to_currency @site_configuration.free_shipping_from_price %></p>
				<% else %>
					<p>¡Recuerda que todas las compras tienen despacho gratis por tiempo limitado!</p>
				<% end %>
			<% end %>
			<hr>
		</div>
		<div class="col-md-12">
			<%= render 'cart', purchasable: @purchasable %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<%= render 'delivery_info', user: @user, purchasable: @purchasable, f: f %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= render 'payment_method' %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= render 'delivery_method' %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-heading">Confirmación</div>
			  <div class="panel-body">
					<%= f.check_box :confirmed_terms %>
					He leído y estoy de acuerdo con 
					<%= link_to 'los términos y condiciones', terms_path, :target => '_blank' %>	y con la 
					<%= link_to 'política de devoluciones', refund_policy_path, :id => 'form_inline' %>
				</div>
			</div>
		</div>
	</div>

	<div class="field">
		<%= f.hidden_field :purchasable_id, :value => @purchasable.id %>
	</div>
	<div class="field">
		<%= f.hidden_field :purchasable_type, :value => @purchasable.class %>
	</div>
	<div class="field">
		<%= f.hidden_field :user_id, :value => @user.id %>
	</div>
	<div class="field">
		<%= f.hidden_field :price, :value => @price %>
	</div>
	<div class="field">
		<%= f.hidden_field :currency, :value => 'CLP' %>
	</div>
	<div class="row">
		<div class="col-md-12">
  		<%= f.submit 'Confirmar Opciones', :class => 'btn btn-primary'  %>
		</div>
	</div>
	<% end %>
	<div class="row">
		<%= render 'terms_and_conditions', purchasable: @purchasable if @purchasable.class.to_s != 'ShoppingCart' %>
	</div>
</div>