<div class="row">
	<div class="col-md-3">
		<h3>Información General</h3>
		<table>
			<tr>
				<td><hr></td>
			</tr>
			<tr>
				<td>
					<div class="old_image">
						<%= image_tag @supplier_account.image.url(:tiny) %>
					</div>
					<div class="image_field">
					<%= f.label :image, t('change_image') %><%= mark_required @supplier_account, :image %><br />
					<%= f.file_field :image %><span class="tiptip" title="<%= t('helptip.supplier_account.image') %>"><%= image_tag 'signo_pregunta.png', :alt => "pregunta", :class => "pregunta" %></span>
					</div>
				</td>
			</tr>
			<tr>
				<td><%= f.label :corporate_name, 'Nombre legal Empresa' %><%= mark_required @supplier_account, :corporate_name %><br />
				<%= f.text_field :corporate_name, :serviceholder => "Monsters Incorporated" %><span class="tiptip" title="<%= t('helptip.supplier_account.corporate_name') %>"><%= image_tag 'signo_pregunta.png', :alt => "pregunta", :class => "pregunta" %></span></td>
			</tr>
			<tr>
				<td><%= f.label :fantasy_name, 'Nombre Empresa' %><%= mark_required @supplier_account, :fantasy_name %><br />
				<%= f.text_field :fantasy_name, :serviceholder => "Monsters Inc." %><span class="tiptip" title="<%= t('helptip.supplier_account.fantasy_name') %>"><%= image_tag 'signo_pregunta.png', :alt => "pregunta", :class => "pregunta" %></span></td>
			</tr>			
			<tr>
				<td><%= f.label :web_page %><%= mark_required @supplier_account, :web_page %><br />
				<%= f.text_field :web_page, :serviceholder => "www.example.com" %><span class="tiptip" title="<%= t('helptip.supplier_account.web_page') %>"><%= image_tag 'signo_pregunta.png', :alt => "pregunta", :class => "pregunta" %></span></td>
			</tr>
			<tr>
				<td><%= f.label :facebook %><%= mark_required @supplier_account, :facebook %><br />
				<%= f.text_field :facebook, :serviceholder => 'www.facebook.com/example' %><span class="tiptip" title="<%= t('helptip.supplier_account.facebook') %>"><%= image_tag 'signo_pregunta.png', :alt => "pregunta", :class => "pregunta" %></span></td>
			</tr>
			<tr>
				<td><%= f.label :twiter %><%= mark_required @supplier_account, :twiter %><br />
				<%= f.text_field :twiter, :serviceholder => '@example' %><span class="tiptip" title="<%= t('helptip.supplier_account.twiter') %>"><%= image_tag 'signo_pregunta.png', :alt => "pregunta", :class => "pregunta" %></span></td>
			</tr>
			<tr>
				<td><%= f.label :phone_number %><%= mark_required @supplier_account, :phone_number %><br />
				<%= f.text_field :phone_number, :serviceholder => "+56 2 324 3434" %></td>
			</tr>
		</table>
	</div>
	<div class="col-md-3">
		<h3>Dirección</h3>
		<table>
			<tr>
				<td><hr></td>
			</tr>
			<tr>
				<td>
					<%= f.fields_for :address do |address| %>
						<tr>
							<td><%= address.label :street, t('activerecord.attributes.address.street') %><br/>
								<%= address.text_field :street %></td>
						</tr>
						<tr>
							<td><%= address.label :number, t('activerecord.attributes.address.number') %><br/>
							<%= address.text_field :number %></td>
						</tr>
						<tr>	
							<td>	 
								<div>
									<%= address.label :region_id, t('activerecord.attributes.address.region') %><br />
									<%= address.collection_select(:region_id, Region.order(:name), :id, :name, :prompt=>t('select')) %>
								</div><br />
								<div>
									<%= address.label :commune_id, t('activerecord.attributes.address.commune') %><br />
									<%= address.grouped_collection_select :commune_id, Region.order(:name), :communes, :name, :id, :name, :prompt=>t('select')%>
								</div>
							</td>
						</tr>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<h3>Acuerdo Comercial</h3>
		<table>
			<tr>
				<td><hr></td>
			</tr>
			<tr>
				<td><%= f.label :net_margin, 'Comisión' %>	<%= f.number_field :net_margin %>% + IVA</td>
			</tr>
			<tr>
				<td><hr></td>
			</tr>
			<tr>
				<th>Datos Bancarios</th>
			</tr>
			<tr>
				<td><span class="lucida small">Puede ser de la persona que tiene la cuenta o la empresa misma que tenga una cuenta</span><br />
				<%= f.label :rut, 'RUT del dueño de la cuenta' %><%= mark_required @supplier_account, :rut %>
				<%= f.text_field :rut, :serviceholder => "23.456.345-3", :onblur => 'format_rut(this)' %></td>
			</tr>
			<tr>
				<td><%= f.label :account_owner_name, 'Nombre dueño de la cuenta' %>
				<%= f.text_field :account_owner_name %></td>
			</tr>
			<tr>
				<td><%= f.label :account_owner_email, 'Correo del dueño de la cuenta' %>
				<%= f.text_field :account_owner_email %></td>
			</tr>
			<tr>
				<td><%= f.label :account_bank, 'Banco de la cuenta' %>
				<%= f.text_field :account_bank %></td>
			</tr>			
			<tr>
				<td><%= f.label :account_number, 'Número de cuenta' %> <%= f.text_field :account_number %></td>
			</tr>
			<tr>
				<td><span class="lucida small">Cuenta corriente, cuenta de ahorros, cuenta vista u otras</span><br />
				<%= f.label :account_type, 'Tipo de cuenta' %><%= f.text_field :account_type %></td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Descripción que aparecerá en el perfil</h3>
		<%= f.text_area :description, style: 'width:100%; height:100px' %>
	</div>
</div>
<div class="row" style="text-align:right">
	<div class="col-md-12">
		<%= f.submit t('save'), :class => "button check_size" %> 
		<%= image_tag "loading.gif", :class => :select_loading, :style => "display:none;" %>
	</div>
</div>
