<div class="container">
	<div class="row">
			<%= link_to t("edit"), edit_supplier_account_path(@supplier), :class => :button %>
	</div>
	<div class="row">
		<h2><%= t 'profile' %></h2>
		<div class="col-md-4">
			<div id="profileImage"><%= image_tag @supplier.supplier_account.image.url(:medium) %></div>
		</div>
			
		<div class="col-md-8">
			<table class="table">
				<tr>
					<td><%= t 'activerecord.attributes.supplier_account.corporate_name' %></td>
					<td><%= (@supplier.supplier_account.corporate_name.blank?) ? 
					content_tag(:span, t('activerecord.attributes.supplier_account.corporate_name'), :class => 'profileBlankField') : content_tag(:span, @supplier.supplier_account.corporate_name) %></td>
				</tr>
				<tr>
					<td><%= t 'activerecord.attributes.supplier_account.fantasy_name' %></td>
					<td><%= (@supplier.supplier_account.fantasy_name.blank?) ? 
					content_tag(:span, t('activerecord.attributes.supplier_account.fantasy_name'), :class => 'profileBlankField') : content_tag(:span, @supplier.supplier_account.fantasy_name) %></td>
				</tr>
				<tr>
					<td><%= t 'activerecord.attributes.supplier_account.rut' %></td>
					<td><%= (@supplier.supplier_account.rut.blank?) ? 
					content_tag(:span, t('activerecord.attributes.supplier_account.rut'), :class => 'profileBlankField') : content_tag(:span, number_to_rut(@supplier.supplier_account.rut)) %></td>
				</tr>
				<% if !@supplier.supplier_account.address.nil? %>
					<% if !@supplier.supplier_account.address.street.blank? %>
						<tr>
							<td><%= t 'activerecord.attributes.supplier_account.address' %></td>
							<td><%= content_tag(:span, @supplier.supplier_account.address.street + (@supplier.supplier_account.address.number.blank? ? '' : ' ' + @supplier.supplier_account.address.number)) %></td>
						</tr>
					<% end %>
					<% if !@supplier.supplier_account.address.region.nil? %>
						<% if !@supplier.supplier_account.address.region.name.blank? %>
							<tr>
								<td><%= t 'activerecord.attributes.address.region' %></td>
								<td><%= content_tag(:span, @supplier.supplier_account.address.region.name) %></td>
							</tr>
						<% end %>
					<% end %>
					<% if !@supplier.supplier_account.address.commune.nil? %>
						<% if !@supplier.supplier_account.address.commune.name.blank? %>
							<tr>
								<td><%= t 'activerecord.attributes.address.commune' %></td>
								<td><%= content_tag(:span, @supplier.supplier_account.address.commune.name) %></td>
							</tr>
						<% end %>
					<% end %>
				<% end %>
				<tr>
					<td><%= t 'activerecord.attributes.supplier_account.phone_number' %></td>
					<td><%= (@supplier.supplier_account.phone_number.blank?) ? 
					content_tag(:span, t('activerecord.attributes.supplier_account.phone_number'), :class => 'profileBlankField') : content_tag(:span, @supplier.supplier_account.phone_number) %></td>
				</tr>
				<tr>
					<td><%= t 'activerecord.attributes.supplier_account.web_page' %></td>
					<td><%= (@supplier.supplier_account.web_page.blank?) ? 
					content_tag(:span, t('activerecord.attributes.supplier_account.web_page'), :class => 'profileBlankField') : content_tag(:span, @supplier.supplier_account.web_page) %></td>
				</tr>
				<tr>
					<td><%= t 'activerecord.attributes.supplier_account.facebook' %></td>
					<td><%= (@supplier.supplier_account.facebook.blank?) ? 
					content_tag(:span, t('activerecord.attributes.supplier_account.facebook'), :class => 'profileBlankField') : content_tag(:span, @supplier.supplier_account.facebook) %></td>
				</tr>
				<tr>
					<td><%= t 'activerecord.attributes.supplier_account.twiter' %></td>
					<td><%= (@supplier.supplier_account.twiter.blank?) ? 
					content_tag(:span, t('activerecord.attributes.supplier_account.twiter'), :class => 'profileBlankField') : content_tag(:span, @supplier.supplier_account.twiter) %></td>
				</tr>
			</table>
		</div>
	</div>
		
	<div class="row">	
			<h2><%= t('your_account_status') %></h2>
			<table class="table">
				<tr>
					<td>
						<%= content_tag :span, t('self_approval')+":" %>
					</td>
					<td>
						<% if @supplier.supplier_account.approved_by_supplier %>
							<%= content_tag :span, "✔ " + t('you_are_ready'), :class => "supplier_account_status_ok" %><br/>
						<% else %>
							<%= content_tag :span, "✘ " + t('you_havent_approved_yourself_yet'), :class => "supplier_account_status_not_ok" %> =>  <%= link_to	t('i_want_to_validate'), supplier_account_path(@supplier, :validate_account => true), :method => :put, :confirm => t("are_you_sure_you_want_to_validate") %><br/>
						<% end %>										
					</td>
				</tr>
				<tr>
					<td>
						<%= content_tag :span, t('matriclick_approval')+":" %>
					</td>
					<td>
						<% if @supplier.supplier_account.approved_by_us %>
							<%= content_tag :span, "✔ " + t("matriclick_approved"), :class => "supplier_account_status_ok" %>
						<% else %>
						  <%= content_tag :span, "✘ " + t('awaiting_matriclick_approval'), :class => "supplier_account_status_not_ok" %>
						<% end %>
					</td>
				</tr>
			</table>
			<h3><%= content_tag :div, t('you_are_online'), :class => "you_online" if @supplier.supplier_account.is_approved? %></h3>
	</div>
		
</div>