<div class="container">
	<%= render 'layouts/notice', notice: notice %>
	<div class="row">
		<div class="col-md-12">
			<h2 class="featurette-heading" style="margin-top:10px; margin-bottom:0px; font-size:24px; font-weight:lighter">
				Reportes
			</h2>
			<hr>
			<ul>
				<% if current_user.store_admin_privileges.include? StoreAdminPrivilege.find_by_name 'Ver Reportes' %>
				<li style="margin-bottom:10px; font-weight:lighter"><%= link_to 'Lista de transacciones POS', store_admin_reports_transactions_path %></li>
				<li style="margin-bottom:10px; font-weight:lighter"><%= link_to 'Inventario', store_admin_reports_inventory_path %></li>
				<li style="margin-bottom:10px; font-weight:lighter"><%= link_to 'Gráficos de Venta en POS', store_admin_reports_sales_path %></li>
				<% end %>
				<% if current_user.store_admin_privileges.include? StoreAdminPrivilege.find_by_name 'Ver Pagos de Tramanta' %>
			  	<li style="margin-bottom:10px; font-weight:lighter">
					<%= link_to 'Ventas por Tramanta', store_admin_purchases_path %></li>
				<li style="margin-bottom:10px; font-weight:lighter">
					<%= link_to 'Pagos Realizados por Tramanta', store_admin_payments_path %></li>
				<% end %>
				
			</ul>
		</div>
	</div>
</div>