<% content_for :content do %>
	<table width="95%" cellpadding="30">
		<tr>
			<td align="left">
				<font face="Lucida Grande, Segoe UI, Arial, Verdana, Lucida Sans Unicode, Tahoma, Sans Serif">
					¡Hola! Te queríamos volver a felicitar por tu compra en Tramanta... y darte los datos de tu despacho :)<br /><br />
					<%= link_to 'Ver compra', @purchase.purchasable.full_link_to_view(@purchase.id) %><br /><br />
					Tu compra fue despachada a la siguiente dirección: 
					<% if !@purchase.delivery_info.nil? %>
						<%= @purchase.delivery_info.street %> <%= @purchase.delivery_info.number %><%= ', depto/casa '+@purchase.delivery_info.apartment if !@purchase.delivery_info.apartment.nil? %>, <%= @purchase.delivery_info.commune.name if !@purchase.delivery_info.commune.nil? %><br /><br />
					<% end %>
					Enviamos tu compra a través de <b><%= @purchase.logistic_provider.name %></b><br /><br />
					El número de orden es el <b><%= @purchase.tracking_number %></b><br /><br />
					Puedes entrar a la página <a href="<%= @purchase.logistic_provider.website %>">
					<%= @purchase.logistic_provider.website %></a> e ingresar el número de orden para revisar el estado del despacho.<br /><br />
					<i>Si tienes dudas, escríbenos a mensajes@tramanta.com</i>
				</font>
			</td>
		</tr>
	</table>
<% end %>

<%= render "layouts/email_template" %>