<div class="container">
	<div class="row" style="padding-bottom:10px; margin-top:-10px">
		<form action="<%= dresses_search_path %>" method="get">
			<div class="col-md-12">
			  <div class="input-group">
						<%= text_field_tag(:q, @search_text, placeholder: @search_text, class: "form-control") %>
			       <span class="input-group-btn">
							<%= submit_tag("Buscar", :name => nil, class: "btn btn-default") %>
			  		 </span>
			  </div><!-- /input-group -->
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-md-2">
			<%=  image_tag @supplier.supplier_account.image.url(:small), :alt => @supplier.supplier_account.image_name, :class => 'img-thumbnail' %>
		</div>
		<div class="col-md-10">
			<h3 style="margin-top:0px;"><%=  @supplier.supplier_account.fantasy_name %></h3>
			<p style="font-size:11px"><%=  @supplier.supplier_account.description %></p>
			<p style="font-size:11px"><%= 'Dirección: '+@supplier.supplier_account.address.get_address_string if !@supplier.supplier_account.address.blank? %> | <%= 'Teléfono: '+@supplier.supplier_account.phone_number if !@supplier.supplier_account.phone_number.blank? %> </p>
		</div>
	</div>
	<hr />
  	<%= render 'dresses/view_dress_list', :dresses => @dresses %>
</div>