<%= form_for(@wbr_datum, :html => {class: 'form', role: 'form'}) do |f| %>
  <% if @wbr_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wbr_datum.errors.count, "error") %> prohibited this wbr_datum from being saved:</h2>

      <ul>
      <% @wbr_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :year %><br />
    <%= f.number_field :year, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :week %><br />
    <%= f.number_field :week, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :fb_followers %><br />
    <%= f.number_field :fb_followers, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :fb_organic_reach %><br />
    <%= f.number_field :fb_organic_reach, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :webpage_visits %><br />
    <%= f.number_field :webpage_visits, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :newsletters_sent %><br />
    <%= f.number_field :newsletters_sent, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Save', class: "btn btn-default" %>
  </div>
<% end %>
