<div class="container">
	<%= render 'layouts/notice', notice: notice %>
	<div class="row" style="padding-bottom:10px; margin-top:-30px">
		<div class="col-md-12">
			<h1><%= @contest.name %></h1>
			<img src="<%= @contest.image.url(:xl) %>" alt="<%= @contest.name %>" /><br /><br />
		</div>
	</div>

	<div class="row" style="padding-bottom:10px; margin-top:-20px">
		<div class="col-md-12">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
		          Ver las reglas del juego
		        </a>
		      </h4>
		    </div>
		    <div id="collapse11" class="panel-collapse collapse">
		      <div class="panel-body">
						<%= raw @contest.instructions.gsub(/\n/, '<br/>') %>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	
	<div class="row" style="padding-bottom:10px; margin-top:-20px">
		<div class="col-md-12">
			<%= link_to 'Inscríbete para concursar', user_profile_contests_path, class: "btn btn-default" %> 
			<%= link_to '¿Ya estás participando?', user_profile_contests_path, class: "btn btn-default" %>
		</div>
	</div>
	
	<div class="row" style="padding-bottom:10px; margin-top:-20px">
		<div class="col-md-12">
			<h3>Los competidores</h3>
			<p class="help-block">
				Para votar debes estar registrado e iniciar sesión, puedes <%= link_to 'registrarte acá', new_user_registration_path %>.
				Si ya estás inscrito puedes <%= link_to 'iniciar sesión acá', new_session_path(resource_name) %>. 
			</p>
		</div>
	</div>
	
	<div class="row" style="padding-bottom:20px;">
    <% @contest.contestants.each do |contestant| %>
				<%= render 'list_competitor', contestant: contestant %>
		<% end %>
	</div>
</div>