<h1>Editing purchase</h1>
<%= form_for(@purchase, :url => administration_update_purchase_path(id: @purchase.id)) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag(@purchase.purchasable.small_image) %><br />
  <h2><%= @purchase.purchasable.supplier_account.fantasy_name if !@purchase.purchasable.supplier_account.nil? %></h2>

  <div class="field">
    <%= f.label :price, 'Monto pagado por el cliente' %> <%= f.number_field :price %> 
	<%= f.label :funds_received, '¿Fondos recibidos?' %> <%= f.check_box :funds_received %>
  </div>
  <br />
  <div class="field">
    <%= f.label :total_cost, 'Costo producto' %> <%= f.number_field :total_cost %> 
	<em>(lo que Tramanta paga por el/los productos de la compra)</em>
    <%= f.label :store_paid, '¿Pagamos los productos?' %> <%= f.check_box :store_paid %>
  </div>
  <br />
  <div class="field">
    <%= f.label :currency %> <%= f.text_field :currency %>
  </div>
  <br />
  <div class="field">
    <%= f.label :delivery_cost, 'Costo despacho cliente' %> <%= f.number_field :delivery_cost %> 
	<em>(costo de delivery que paga el cliente por la compra)</em>
  </div>
  <br />
  <div class="field">
    <%= f.label :actual_delivery_cost, 'Costo despacho tramanta' %> <%= f.number_field :actual_delivery_cost %>
	<em>(costo de delivery que paga Tramanta para entregar el producto)</em>
  </div>
  <br />
  <div class="field">
    <%= f.label :tracking_number %> <%= f.text_field :tracking_number %>
  </div>
  <br />
  <div class="field">
    <%= f.label :logistic_provider_id %> 
	<%= f.collection_select :logistic_provider_id, LogisticProvider.all, :id, :name, :prompt => true, :allow_blank => false %>
  </div>
  <br />
  <div class="field">
    <%= f.label :refunded, '¿Producto devuelto?' %> <%= f.check_box :refunded %> 
	<%= f.label :refund_value, 'Monto devuelto' %> <%= f.number_field :refund_value %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


