<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="right_link">
				<%= link_to 'Volver al menú de Administrador', administration_index_path, :class => :button  %>
			</div>
			<h2>Costos de despacho</h2>
			<% total_sets = 4 %>
			<% current_set = 0 %>

			<%= form_tag administration_update_dispatch_costs_path, :method => "put" do %>
				<% @regions.each do |region| %>
					<% case region.name %>
						<% when 'RM - Metropolitana' %>
							<h3><%= region.name %></h3>
							<table class="table">
							<% region.communes.each do |commune| %>
								<% if current_set == total_sets %>
									<tr>
								<% end %>	
									<th><%= commune.name %></th>
									<%= fields_for "communes[]", commune do |f| %>
										<td><%= f.number_field :dispatch_cost, :size => 6 %></td>
									<% end %>
									<% current_set = current_set + 1 %>
						
								<% if current_set == total_sets %>
									</tr>
									<% current_set = 0 %>
								<% end %>
							<% end %>
							</table>
						<% else %>
							<table class="table table-condensed">
								<%= fields_for "regions[]", region do |f| %>
								<tr>
									<th style="width:180px"><%= region.name %>:</th>
									<td><%= f.number_field :dispatch_cost, :size => 6 %></td>
								</tr>
								<% end %>
							</table>		    
					<% end %>
				<% end %>
				<div class="clear"></div>
				<br /><br />
				<%= submit_tag "Actualizar Costos" %>
			<% end %>
		</div>
	</div>
</div>