<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= form_for @supplier_account, :url=> administration_update_supplier_account_path(@supplier_account) do |f| %>
				<% if @supplier_account.errors.any? %>
				<div id="error_explanation">
					<h2><%= @supplier_account.errors.count > 1 ? t("activerecord.errors.template.header.other") : t("activerecord.errors.template.header.one") %>:</h2>
					<ul>
						<% @supplier_account.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
				<% end %>
				<%= f.label :approved_by_supplier %> <%= f.check_box :approved_by_supplier %><br />
				<%= f.label :approved_by_us %> <%= f.check_box :approved_by_us %><br />
				<hr>
				<b><%= f.label :supplier_account_type_id %></b>
				<%= collection_select :supplier_account, :supplier_account_type_id, SupplierAccountType.all, :id, :name, :prompt => true %>
				<hr>
				<%= render 'supplier_accounts/form_content', :f => f %>
			<% end %>
		</div>
	</div>
</div>