<div class="container">
	<div class="row">
		<div class="col-md-12">
			<% if @send %>
				<p>Correos Enviados</p>
			<% else %>
				<p>Información Correo Masivo</p>
			<% end %>
			<p>Usuarios con Tags: <%= @users.size %></p>
			<p>
			<%= form_tag(request.fullpath, :method => "get") do %>
					<%= @dresses.size %> vestidos con Tags creados desde: <%= text_field_tag(:from, @from.strftime("%Y-%m-%d")) %>
					hasta: <%= text_field_tag(:to, @to.strftime("%Y-%m-%d")) %>
				<%= submit_tag("Actualizar fechas") %>
			<% end %>
			(<%= link_to '>> enviar correos >>', administration_mailing_sent_path(:from => @from, :to => @to) %>)
			</p>
			<hr>
			<p><b>DETALLE</b></p>
			<% @mail_infos.each do |user_id, dresses_id|%>
				<b>Usuario: <%= User.find(user_id).email %></b><br />
				<% dresses_id.each do |dress_id| %>
					<% dress = Dress.find(dress_id) %>
					<em> - <%= link_to dress.introduction, dress_ver_path(:type => dress.dress_type.name, :slug => dress.slug), 
							:class => 'no_underline' %></em><br />
				<% end %>
				<br />
			<% end %>
		</div>
	</div>
</div>