<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-condensed report" style="font-size:11px">
				<tr>
					<th>Nombre Fantasía</th>
					<th>Página Web</th>
					<th>rut</th>
					<th>Numero de Teléfono</th>
					<% if !@supplier_account.address.nil? %>
						<% if !@supplier_account.address.street.blank? %>
							<th>Dirección</th>
						<% end %>
					<% end %>
					<th>Aprobado</th>
					<th>URL publica</th>
				</tr>
				<tr>
					<td><%= @supplier_account.fantasy_name %></td>
					<td><%= @supplier_account.web_page %></td>
					<td><%= @supplier_account.rut %></td>
					<td><%= @supplier_account.phone_number %></td>
					<% if !@supplier_account.address.nil? %>
						<% if !@supplier_account.address.street.blank? %>
							<td><%= @supplier_account.address.street + (@supplier_account.address.number.blank? ? '' : ' ' + @supplier_account.address.number) %></td>
						<% end %>
					<% end %>
					<td><%= @supplier_account.approved_by_us %> | <%= @supplier_account.approved_by_supplier %></td>
					<td><%= @supplier_account.public_url %></td>
					<td><%= link_to 'editar', administration_edit_supplier_account_path(@supplier_account)  %></td>
					<td><%= link_to 'Resetear Clave', administration_reset_supplier_password_path(@supplier_account)  %></td>
		
				</tr>
			</table>
		</div>
	</div>
</div>