<div class="container">
	<%= form_tag(administration_suppliers_list_path, :method => "get", role: 'form', class: 'form-inline') do %>
		<div class="form-group">
			<%= text_field_tag(:q, @search_term, :style => 'width:500px', class: 'form-control') %> 
		</div>
		<%= submit_tag("Buscar", class: 'btn btn-default btn-sm') %>
	<% end %>
	<br />
	<table class="table table-striped" style="font-size:12px">
		<tr>
			<th>Nombre Cuenta</th>
			<th>Email</th>
			<th>Productos Disponibles</th>
			<th>Comisión</th>
			<th>¿Aprobado?</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% @suppliers.each do |supplier| %>
			<tr>
				<td style="color:#285e8e; font-weight:bold"><%= supplier.supplier_account.fantasy_name.upcase %></td>
				<td><%= supplier.email %></td>
				<td><%= supplier.supplier_account.dresses.available_to_purchase.size %></td>
				<td><%= number_to_percentage supplier.supplier_account.net_margin, precision: 1 %> + IVA</td>
				<td style="text-align:center">
					<%= supplier.supplier_account.approved_by_supplier ? "✔" : '✘' %> | 
					<%= supplier.supplier_account.approved_by_us ? "✔" : '✘' %>
				</td>
				<td>
						<%= link_to 'Ver Información', supplier_description_path(:public_url => supplier.supplier_account.public_url) %> |
						<%= link_to 'Editar Información', administration_edit_supplier_account_path(supplier.supplier_account)  %> |
						<%= link_to 'Resetear Clave', administration_reset_supplier_password_path(supplier.supplier_account)  %> |
						<% if current_user.email == 'hhanckes@gmail.com' %>
							<%= link_to 'Eliminar', administration_destroy_supplier_path(supplier), :method => :delete, confirm: t('are_you_sure') %>
						<% end %>
				</td>
			</tr>
			<tr>
				<td colspan="6" style="border:none">
					<b>Administradores: </b> <% supplier.supplier_account.users.each do |u| %> <%= u.email %> | <% end %> 
					<%= link_to '(+)', administration_add_user_to_supplier_path(:sa_id => supplier.supplier_account.id) %>
				</td>
			</tr>
		<% end %>
	</table>
</div>