<div class="container">
	<h1>Listado de cuentas de proveedores</h1>
	<%= form_tag(administration_suppliers_list_path, :method => "get", role: 'form', class: 'form-inline') do %>
		<div class="form-group">
			<%= text_field_tag(:q, @search_term, :style => 'width:500px', class: 'form-control') %> 
		</div>
		<%= submit_tag("Buscar", class: 'btn btn-default btn-sm') %>
	<% end %>
	<br />
	<table class="table">
		<tr>
			<th>Email</th>
			<th>Nombre Cuenta</th>
			<th>Tipo de Cuenta</th>
			<th>¿Aprobado Proveedor?</th>
			<th>¿Aprobado Tramanta?</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% @suppliers.each do |supplier| %>
			<tr>
				<td style="color:#285e8e; font-weight:bold"><%= supplier.email %></td>
				<td><%= supplier.supplier_account.fantasy_name %></td>
				<td><%= supplier.supplier_account.supplier_account_type.name %></td>
				<td style="text-align:center"><%= supplier.supplier_account.approved_by_supplier ? "✔" : '✘' %></td>
				<td style="text-align:center"><%= supplier.supplier_account.approved_by_us ? "✔" : '✘' %></td>
				<td>
						<%= link_to 'Detalle', administration_show_supplier_account_path(supplier.supplier_account)  %> | 
						<%= link_to 'Ingresar', supplier_account_path(supplier) %> | 
						<%= link_to t('destroy'), administration_destroy_supplier_path(supplier), :method => :delete, confirm: t('are_you_sure') %>
				</td>
			</tr>
			<tr>
				<td colspan="6" style="border:none">
					<b>Administradores: </b> <% supplier.supplier_account.users.each do |u| %> <%= u.email %> | <% end %> 
					<%= link_to '(+)', administration_add_user_to_supplier_path(:sa_id => supplier.supplier_account.id) %>
				</td>
			</tr>
		<% end %>
	</table>
</div>