<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row" style="margin-bottom:20px">
				<div class="col-md-6">
					<form action="<%= request.fullpath %>" method="get">
					  <div class="input-group">
								<%= text_field_tag(:user_q, @user_search_text, placeholder: @user_search_text, class: "form-control") %>
					       <span class="input-group-btn">
									<%= submit_tag("Nombre/correo usuario", :name => nil, class: "btn btn-default") %>
					  		 </span>
					  </div><!-- /input-group -->
					</form>
				</div>
				<div class="col-md-6">
					<form action="<%= request.fullpath %>" method="get">
					  <div class="input-group">
								<%= text_field_tag(:product_q, @product_search_text, placeholder: @product_search_text, class: "form-control") %>
					       <span class="input-group-btn">
									<%= submit_tag("Nombre producto", :name => nil, class: "btn btn-default") %>
					  		 </span>
					  </div><!-- /input-group -->
					</form>
				</div>
			</div>
			
			<%= render 'reports/date_range_selector', param: params[:status] %>
			
			<div class="row">
				<div class="col-md-12">
					<%= render 'purchases_table' %>
				</div>
			</div>
			<%= link_to 'Historial de compras',  reports_purchases_path %> | <%= link_to 'Administrador',  administration_index_path %>
		</div>
	</div>
</div>