<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p id="notice"><%= notice %></p>
			<p>
			  <b>Title:</b>
			  <%= @home_category.title %>
			</p>
			<p>
				<b>Categorías:</b>
					<% @home_category.dress_types.each do |dt| %>
						<%= dt.name %> | 
					<% end %>
			</p>
			<p>
			  <b>See more text:</b>
			  <%= @home_category.see_more_text %>
			</p>
			<p>
			  <b>Description:</b>
			  <%= @home_category.description %>
			</p>
			<%= link_to 'Edit', edit_home_category_path(@home_category) %> |
			<%= link_to 'Back', home_categories_path %>
		</div>
	</div>
</div>