<% content_for :content do %>
	<table width="95%" cellpadding="30">
		<tr>
			<td align="left">
				<font face="Lucida Grande, Segoe UI, Arial, Verdana, Lucida Sans Unicode, Tahoma, Sans Serif">
					Hola <%= @supplier_account.fantasy_name %>!<br/><br/>
					Se ingresó la siguiente solicitud de un <strong>producto agotado en Tramanta.com</strong>.<br/><br/>
					<p style="color:#aaa;">Nombre del producto: <%= link_to @dress.introduction, dress_ver_path(:only_path => false, :host => 'www.tramanta.com',
						:type => @dress.dress_type.name, :slug => @dress.slug) %>
					</p>
					<p style="color:#aaa;">Talla: <%= @dress_stock_change_notification.size.name %></p>
					<p style="color:#aaa;">Color: <%= @dress_stock_change_notification.color %></p>
					<p style="color:#aaa;">Comentarios: <%= @dress_stock_change_notification.comments %></p>
					Una vez vuelva a estar el producto disponible automáticamente se le enviará un correo a la persona que ingresó esta solicitud comentándole que el producto ha vuelto a estar disponible.
				</font>
			</td>
		</tr>
	</table>
<% end %>

<%= render "layouts/email_template" %>