<%= form_for(@refund_request, :html => { role: "form" }) do |f| %>
	<% if @refund_request.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@refund_request.errors.count, "errores") %> hicieron que no fuera posible enviar la solicitud</h2>
	</div>
	<% end %>

	<h4>Selecciona el/los productos que quieres devolver<h4>
	<div class="form-group">		
		<% current_user.purchased_dresses.each do |pd| %>
		<div class="panel panel-default">
		  <div class="panel-body">
				<div class="media">
					<%= link_to image_tag(pd.dress_images.first.dress.url(:tiny), :alt => pd.dress_images.first.name), 
					dress_ver_path(:type => pd.dress_type.name, :slug => pd.slug), class: "pull-left" %>
					<div class="media-body" style="padding-left:10px; height:50px;">
						<%= f.check_box :dress_ids %> <%= pd.introduction %>
					</div>
				</div>
		  </div>
		</div>
		<% end %>
	</div>

	<h4>Razón de la devolución</h4>
	<div class="form-group">
			<% RefundReason.all.each do |rr| %>
			<div class="panel panel-default">
			  <div class="panel-body">
					<div class="radio">
					<label>
						<%= f.radio_button :refund_reason_id, rr.id %>
						<%= rr.name %><span class="help-block"><%= rr.description %></span>
					</label>
				</div>
			</div>
		</div>
			<% end %>
	</div>

	<h4>Datos de la cuenta</h4>
	<div class="form-group">
		<%= f.label :account_owner_name, 'Nombre' %> <%= f.text_field :account_owner_name, class: "form-control" %><br />
		<%= f.label :account_owner_id, 'RUT' %> <%= f.text_field :account_owner_id, class: "form-control" %><br />
		<%= f.label :account_owner_email, 'Correo' %> <%= f.text_field :account_owner_email, class: "form-control" %><br />
		<%= f.label :account_bank, 'Banco' %> <%= f.text_field :account_bank, class: "form-control" %><br />
		<%= f.label :account_type, 'Tipo de cuenta' %> <%= f.text_field :account_type, class: "form-control" %><br />
		<%= f.label :account_number, 'Número de cuenta' %> <%= f.text_field :account_number, class: "form-control" %>
	</div>

	<h4><%= f.label :description, 'Comentarios adicionales' %></h4>
	<div class="form-group">
		<%= f.text_area :description, class: "form-control", rows: '4' %>
	</div>

	<div class="field">
		<%= f.hidden_field :user_id, :value => @user_id %>
	</div>
	<div class="field">
		Luego de que solicites la devolución, te responderemos con las instrucciones para devolver el producto.
	</div>
	<br />
	<div class="actions" style="margin-bottom:20px">
		<%= f.submit 'Solicitar devolución', class: 'btn btn-default' %>
	</div>

<% end %>