<div class="sign_in_background">
	<div class="container">
		<%= render 'layouts/notice', notice: notice %>
		<div class="row">
			<div class="col-md-12">
				<h1 style="color:white; margin:20px 0px 10px 10px">Nueva Cuenta Empresas</h1>
					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {role: 'form', class:'form-inline'} ) do |f| %>
						<%= f.email_field :email, :placeholder => t('email'), style: 'width:200px; margin:10px', :class => "form-control" %>
						<%= f.password_field :password, :placeholder => t('password'), style: 'width:200px; margin:10px', :class => "form-control" %>
						<%= f.submit 'Registrarme', :class => "btn btn-default", style: 'width:200px; margin:10px' %>			
					<% end %>

					<div style="margin-top:20px">
						<%= link_to '¿Ya tienes una cuenta creada?', new_session_path(resource_name) %>
					</div>
			</div>			
		</div>
	</div>
</div>