<%= form_for @post, :html => {:multipart => true, :class => 'from', :role => 'form' } do |f| %>
	<% if @post.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field">
  		<%= f.label :visible, '¿El post estará visible?' %> <%= f.check_box :visible %>
	</div>
	<br />
	<div class="field">
		<%= f.label :main_image, "Imagen Principal" %><br />
		<%= f.file_field :main_image, class: "form-control" %>
		<p class="help-block">
			Solo subir imágenes panorámicas, el sistema va a alargarla hasta 1140px por lo que si es muy alta quedará gigante<br />
			Recuerda ponerle un nombre que alguien buscaría en google, separando las palabras por un guión, ejemplo: luna-de-miel-en-brasil.jpg
		</p>
	</div>
	<br />
	<div class="field">
  		<%= f.label :title, 'Título' %><br />
  		<%= f.text_field :title, class: "form-control", placeholder: "¡Tiene que ser un título que alguien buscaría en google!" %>
	</div>
	<br />
	<%= f.label :position, 'Keywords' %><%= mark_required @post, :product_keywords %> 
	<%= f.text_field :product_keywords, class: "form-control", placeholder: "Ingresa las palabras claves" %>
	<p class="help-block">
		IMPORTANTE: este campo define los productos que se mostrarán como relacionados<br />
		Las palabras hay que escribirlas con el siguiente formato: palabra1, palabra2, palabra3<br />
		Ejemplo: vestido, blanco, peplum
	</p>
	<br />	
	<div class="field">
  		<%= f.label :introduction, "Bajada" %><br />
  		<%= f.tinymce :introduction, :rows => 5, class: "form-control" %>
	</div>
	<br />
	<div id="contents_for_posts">
		<%= f.fields_for :post_contents do |builder| %>
			<%= render 'post_content_fields', :f => builder %>
		<% end %>	
	</div>
	<br />
		<%= link_to_add_fields_post "Nuevo parrafo", f, :post_contents %>
	<br />
	<div class="field">
  		<%= f.label :date %><br />
  		<%= f.date_select :date %>
	</div>
	<br />
	<br />
	<div class="actions">
  		<%= f.submit %>
	</div>
	<div class="clear"></div>
<% end %>
