<%= nested_form_for @dress, :validate => true, :html => {:multipart => true, role: "form", style: 'font-size:12px'} do |f| %>
	<% if @dress.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@dress.errors.count, "error") %> prohibited this dress from being saved:</h2>
			<ul>
				<% @dress.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= render 'image_fields', :f => f %>
	<table class="table">
		<tr>
			<td>
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title"><%= f.label :dress_type, 'Tipo de producto' %><%= mark_required @dress, :dress_type_id %></h3>
				  </div>
				  <div class="panel-body">
						<table>
						<tr>
							<% DressType.get_options(@supplier_account).each_with_index do |dt, i| %>
					  		<td>
								<%= check_box_tag("dress[dress_type_ids][]", dt.id, (@dress.dress_types.include? dt)) %> 
								<span style="color:#555"><%= dt.name.gsub('-', ' ').capitalize %></span>
							</td>
								<% if i == DressType.get_options(@supplier_account).size - 1 %>
						</tr>
								<% elsif (i + 1) % 5 == 0 %>
						</tr>
						<tr>
								<% end %>
						<% end %>
						</table>
				  </div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<p class="help-block">
					Precio al que se publicará el producto en la página. Incluye IVA. Si es igual al original significa que no hay descuento asociado.
				</p>
				<%= f.label :price, 'Precio de Venta CLP $' %>
				<%= mark_required @dress, :price %> 
				<% if @dress.fix_cost %>
					<%= f.number_field :price, class: "form-control", style: 'width:200px' %>
				<% else %>
					<%= f.number_field :price, :onchange => 'update_cost(this.value,'+@dress.supplier_account.net_margin.to_s+')', 
															class: "form-control", style: 'width:200px' %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse11" style="font-size:12px">
			          ¿Aplica descuento?
			        </a>
			      </h4>
			    </div>
			    <div id="collapse11" class="panel-collapse collapse">
			      <div class="panel-body">
							<p class="help-block">
							Precio original del vestido. Incluye IVA. Si es igual al de venta déjalo en blanco o pon el mismo número.
							</p>
							<%= f.label :original_price, 'Precio de Original' %>
							<%= mark_required @dress, :original_price %> 
							CLP $<%= f.number_field :original_price, :onchange => 'update_discount(this.value)', class: "form-control", style: 'width:200px' %> 
							<%= f.label :discount, '% de Descuento' %> 
							<%= f.number_field :discount, :onchange => 'update_original_price(this.value)', class: "form-control", style: 'width:200px' %>
							<p class="help-block">
							Todos los productos con descuentos se mostrarán en la pestaña "liquidación".
							</p>
			      </div>
			    </div>
			  </div>
			</td>
		</tr>
		<tr>
			<td>
				<p class="help-block">
					Si es de una tienda que está en modalidad comisión con nosotros, entonces el Costo Neto es lo que le tenemos que pagar a la tienda si vendemos el producto.
					<br />
					- Margen cobrado a la tienda: <b><%= @dress.supplier_account.net_margin.to_s %>% + IVA</b>
					<br />
					Cobro neto: <b><span id="net_cost"></span></b> = precio x comisión<br />
					- IVA: <b><span id="vat_cost"></span></b> = 19% x precio x comisión<br />
					= Pagar al Socio: <b><span id="total_cost"></span></b> = precio venta - costo neto - IVA
				</p>
				<%= f.label :price, 'Costo Neto' %> 
				<%= mark_required @dress, :net_cost %> CLP $<%= f.number_field :net_cost, class: "form-control", style: 'width:200px' %> 
				<p class="help-block">(lo que se le pagará a la tienda cuando se venda el producto)</p>
				<div class="input-group">
		      <span class="input-group-addon"><%= f.check_box :fix_cost %></span>
		      <label class="form-control" style="font-weight:lighter; font-size:12px;">
						¿Fijar el costo? (cuando se cambie el precio del producto el costo no cambiará automáticamente)
					</label>
		    </div><!-- /input-group -->
			</td>
		</tr>
		<tr>
			<td>
				<div class="help_tip">
					Solo aplica para los productos que compramos con facturas.<br />
					Si es de una tienda que está en modalidad comisión con nosotros, entonces el Costo IVA es 0
				</div>
				<%= f.label :vat_cost, 'Costo IVA' %>
				<%= mark_required @dress, :vat_cost %> CLP $<%= f.number_field :vat_cost, class: "form-control", style: 'width:200px' %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label :dress_status_id, 'Estado del item' %><%= mark_required @dress, :dress_status_id %>
	  			<%= f.collection_select :dress_status_id, DressStatus.all, :id, :name, {:prompt => true, :allow_blank => false}, { :class=> "form-control", style: 'width:300px' } %>
			</td>
		</tr>
		<tr>
			<td>
				<div class="help_tip">
					Este campo define la posición en que aparecerá, 1 es lo más arriba, 999 lo más abajo.
				</div>
				<%= f.label :position, 'Posición en la página' %><%= mark_required @dress, :position %> 
				<%= f.number_field :position, class: "form-control", style: 'width:200px' %>
			</td>
		</tr>
		<tr>
			<td>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse12" style="font-size:12px">
			          ¿Tiene código externo?
			        </a>
			      </h4>
			    </div>
			    <div id="collapse12" class="panel-collapse collapse">
			      <div class="panel-body">
							Código: <%= f.text_field :code, class: "form-control"  %>		
							<p class="help-block">
							Si no tiene un código proporcionado por la tienda, dejar el campo en blanco y una vez se guarde el vestido automáticamente se generará uno.
							</p>
			      </div>
			    </div>
			  </div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="help_tip">
					Este texto se mostrará cuando la persona revisa todos los items, poner máximo 30 caracteres.
				</div>
					<%= f.label :introduction, 'Introducción' %><%= mark_required @dress, :introduction %><br />
		    	<%= f.text_field :introduction, class: "form-control"  %>		
			</td>
		</tr>
		<tr>
			<td>
				<div class="help_tip">
					Este texto se mostrará cuando la persona revisa el detalle del item.<br />
					Agregar toda la información relevante como:<br />
					- Tela<br />
					- Tallas disponibles
				</div>
				<%= f.label :description, 'Descripción' %><%= mark_required @dress, :description %><br />
		    	<%= f.text_area :description, rows: '6', class: "form-control" %>		
			</td>
		</tr>
		<tr>
			<td>
				<div class="help_tip">
					Política de devolución (días que se acepta, cómo funciona, etc.)
				</div>
				<%= f.label :refund, 'Política de devolución' %><%= mark_required @dress, :refund %><br />
		    	<%= f.text_area :refund, rows: '6', class: "form-control" %>		
			</td>
		</tr>
		<tr>
			<td>
				<div class="help_tip">
					IMPORTANTE: este campo define los productos que se mostrarán como relacionados<br />
					Los productos relacionados son los que contengan todas estas palabras claves en la descripción del vestido<br />
					Las palabras hay que escribirlas con el siguiente formato: palabra1, palabra2, palabra3<br />
					Ejemplo: vestido, blanco, peplum
				</div>
				<%= f.label :position, 'Keywords' %><%= mark_required @dress, :product_keywords %> <%= f.text_field :product_keywords, class: "form-control", style: 'width:200px' %>
			</td>
		</tr>
		<tr>
			<td>
				<div class="help_tip">
					Selecciona los estilos que representa este producto.
				</div>
				<% Tag.all.each do |tag| %>
					<div style="float:left; margin:10px; background:#f6f6f6">
						<%= image_tag('tags/'+tag.image_name, width: '200px', height: '200px') %><br />
						<div>
							<%= check_box_tag("dress[tag_ids][]", tag.id, (@dress.tags.include? tag), 
								:class => "tag_#{tag.id}") %> <%= tag.name.capitalize %>
						</div>
					</div>
				<% end %>
			</td>
		</tr>
	</table>
	<% if defined? @supplier_account %>
			<%= f.hidden_field :supplier_account_id, :value => @supplier_account.id %>
	<% end %>
	<div class="holder">
		<%= f.submit 'Guardar y definir stock', :class => "button" %>
	</div>
<% end %>
