<%= nested_form_for @dress, :html => {:multipart => true, role: "form", style: 'font-size:12px'} do |f| %>
	<% if @dress.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@dress.errors.count, "errores") %> no permitieron que se creara el producto:</h2>
			<ul>
				<% @dress.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<p class="featurette-heading" style="margin-top:10px; margin-bottom:0px; font-size:12px; font-weight:lighter"><%= 'Tienda: '+@supplier_account.fantasy_name %></p>
	
	<%= render 'image_fields', :f => f %>
	<table class="table">
		<tr>
			<td>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse12" style="font-size:12px">
			          ¿Tiene video?
			        </a>
			      </h4>
			    </div>
			    <div id="collapse12" class="panel-collapse collapse">
			      <div class="panel-body">
							<div>
								<b>Link al video:</b> <%= f.text_field :video_url, class: "form-control"  %>
								<div class="help_tip" style="font-weight:lighter; font-size:11px;">
								Link completo al video, ejemplo http://www.youtube.com/watch?v=Hl5_te1c-Mc o http://vimeo.com/77293967
								</div>
							</div>
							<div>
								<b>Tipo de video:</b> 
								<%= f.select :video_type, options_for_select(["YouTube", "Vimeo"], @dress.video_type), { :include_blank => true }, 
										{:class => "form-control", style: 'font-size:12px'} %>
							</div>
			      </div>
			    </div>
			  </div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="panel panel-default">
				  <div class="panel-heading" style="font-weight:lighter; font-size:13px;">
					<%= f.label :dress_type, 'Tipo de producto' %><%= mark_required @dress, :dress_type_id %>
				  </div>
				  <div class="panel-body">
						<table>
						<tr>
							<% DressType.get_options(@supplier_account).each_with_index do |dt, i| %>
					  		<td>
								<%= check_box_tag("dress[dress_type_ids][]", dt.id, (@dress.dress_types.include? dt)) %> 
								<span style="color:#555"><%= dt.name.gsub('-', ' ').capitalize %></span>
							</td>
								<% if i == DressType.get_options(@supplier_account).size - 1 %>
						</tr>
								<% elsif (i + 1) % 5 == 0 %>
						</tr>
						<tr>
								<% end %>
						<% end %>
						</table>
				  </div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label :price, 'Precio de Venta CLP $' %><%= mark_required @dress, :price %> <br />
				<% if @dress.fix_cost %>
					<%= f.text_field :price, class: "form-control", style: 'width:200px' %>
				<% else %>
					<%= f.text_field :price, :onchange => 'update_cost(this.value,'+@dress.supplier_account.net_margin.to_s+')', 
															class: "form-control", style: 'width:200px' %>
				<% end %>
				<div class="help_tip" style="font-weight:lighter; font-size:12px;">Precio al que se venderá el producto (no usar comas ni puntos).</div>
			</td>
		</tr>
		<tr>
			<td>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse11" style="font-size:12px">
			          ¿Aplica descuento?
			        </a>
			      </h4>
			    </div>
			    <div id="collapse11" class="panel-collapse collapse">
			      <div class="panel-body">
						<%= f.label :original_price, 'Precio de Original' %>
						<%= mark_required @dress, :original_price %>
						<%= f.text_field :original_price, :onchange => 'update_discount(this.value)', class: "form-control", style: 'width:200px' %> 
						<div class="help_tip" style="font-weight:lighter; font-size:12px;">
							Precio original del vestido. Si es igual al de venta déjalo en blanco o pon el mismo número (no usar comas ni puntos)
						</div>
						<br />
						<%= f.label :discount, '% de Descuento' %>
						<%= f.text_field :discount, :onchange => 'update_original_price(this.value)', class: "form-control", style: 'width:200px' %>
						<div class="help_tip" style="font-weight:lighter; font-size:12px;">
							Porcentaje de descuento, es igual al 1 - Precio de Venta / Precio Original 
						</div>
						<br />
						<p class="help-block">
						Todos los productos con descuentos se mostrarán en la pestaña "liquidación".
						</p>
			      </div>
			    </div>
			  </div>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label :vat_cost, 'Costo del Producto' %>
				<%= mark_required @dress, :vat_cost %> CLP $<%= f.number_field :vat_cost, class: "form-control", style: 'width:200px' %>
				<div class="help_tip" style="font-weight:lighter; font-size:12px;">
					Costo de compra del producto (IVA incluído).<br />
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label :net_cost, 'Pago de Tramanta' %> 
				<%= mark_required @dress, :net_cost %> CLP $<%= f.number_field :net_cost, class: "form-control", style: 'width:200px' %> 
				<p class="help-block" style="font-weight:lighter; font-size:12px;">
					El pago que realizará Tramanta.com a <%= @supplier_account.fantasy_name %> si el producto se vende a través de la web)</p>
				<p class="help-block" style="font-weight:lighter; font-size:12px;">
					Si es de una tienda que está en modalidad comisión con nosotros, entonces el Costo Neto es lo que le tenemos que pagar a la tienda si vendemos el producto.
					<br />
					- Margen cobrado a la tienda: <b><%= @dress.supplier_account.net_margin.to_s %>% + IVA</b>
					<br />
					Cobro neto: <b><span id="net_cost"></span></b> = precio x comisión<br />
					- IVA: <b><span id="vat_cost"></span></b> = 19% x precio x comisión<br />
					= Pagar al Socio: <b><span id="total_cost"></span></b> = precio venta - costo neto - IVA
				</p>
				<% if !current_supplier.nil? or (!current_user.nil? and current_user.role_id = 1) %>
				<div class="input-group">
			      <span class="input-group-addon"><%= f.check_box :fix_cost %></span>
			      <label class="form-control" style="font-weight:lighter; font-size:12px;">
						¿Fijar el costo? (cuando se cambie el precio del producto el costo no cambiará automáticamente)
					</label>
				<% end %>
		    </div><!-- /input-group -->
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label :dress_status_id, 'Estado del item' %><%= mark_required @dress, :dress_status_id %>
	  			<%= f.collection_select :dress_status_id, DressStatus.all, :id, :name, {:prompt => true, :allow_blank => false}, { :class=> "form-control", style: 'width:300px' } %>
				<div class="help_tip" style="font-weight:lighter; font-size:11px; margin-top:5px">
					- <b>Disponible:</b> producto se venderá a través de Tramanta.com<br />
					- <b>Oculto:</b> producto no aparecerá a la venta en Tramanta.com<br />
					- <b>Vendido:</b> producto aparecerá como agotado en Tramanta.com<br />
					- <b>Vendido y Oculto:</b> producto agotado que no aparecerá en Tramanta.com
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label :position, 'Posición en la página' %><%= mark_required @dress, :position %> 
				<%= f.number_field :position, class: "form-control", style: 'width:200px' %>
				<div class="help_tip" style="font-weight:lighter; font-size:11px; margin-top:5px">
					Este campo define la posición en que aparecerá, 1 es lo más arriba, 999 lo más abajo.
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse20" style="font-size:12px">
			          ¿Tiene código externo?
			        </a>
			      </h4>
			    </div>
			    <div id="collapse20" class="panel-collapse collapse">
			      <div class="panel-body">
					Código: <%= f.text_field :code, class: "form-control"  %>		
					<div class="help_tip" style="font-weight:lighter; font-size:11px; margin-top:5px">
					Si no tiene un código proporcionado por la tienda, dejar el campo en blanco y una vez se guarde el vestido automáticamente se generará uno.
					</div>
			      </div>
			    </div>
			  </div>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label :introduction, 'Título corto del producto' %><%= mark_required @dress, :introduction %><br />
		    	<%= f.text_field :introduction, class: "form-control"  %>		
				<div class="help_tip" style="font-weight:lighter; font-size:11px; margin-top:5px">
					Este texto se mostrará cuando la persona revisa todos los items, poner máximo 30 caracteres.
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label :description, 'Descripción detallada' %><%= mark_required @dress, :description %><br />
		    	<%= f.text_area :description, rows: '6', class: "form-control" %>		
				<div class="help_tip" style="font-weight:lighter; font-size:11px; margin-top:5px">
					Este texto se mostrará cuando la persona revisa el detalle del item. Es <b>muy importante</b> detallar todo ya que mientras más específico sea mayor probabilidade de venta<br />
					Agregar toda la información relevante como:<br />
					- Tela y texturas<br />
					- Medidas<br />
					- Calce (si es muy ajustado, muy suelto o como sea)
				</div>		
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label :position, 'Keywords' %><%= mark_required @dress, :product_keywords %> <%= f.text_field :product_keywords, class: "form-control", style: 'width:200px' %>
				<div class="help_tip" style="font-weight:lighter; font-size:11px; margin-top:5px">
					Este campo define los productos que se mostrarán como relacionados<br />
					Los productos relacionados son los que contengan todas estas palabras claves en la descripción del vestido<br />
					Las palabras hay que escribirlas con el siguiente formato: palabra1, palabra2, palabra3<br />
					<b>Ejemplo: vestido, blanco, peplum</b>
				</div>
				
			</td>
		</tr>
		<!--
		<tr>
			<td>
				<div class="help_tip">
					Selecciona los estilos que representa este producto.
				</div>
				<% Tag.all.each do |tag| %>
					<div style="float:left; margin:10px; background:#f6f6f6">
						<%= image_tag('tags/'+tag.image_name, width: '200px', height: '200px') %><br />
						<div>
							<%= check_box_tag("dress[tag_ids][]", tag.id, (@dress.tags.include? tag), 
								:class => "tag_#{tag.id}") %> <%= tag.name.capitalize %>
						</div>
					</div>
				<% end %>
			</td>
		</tr>-->
	</table>
	<% if defined? @supplier_account %>
			<%= f.hidden_field :supplier_account_id, :value => @supplier_account.id %>
	<% end %>
	<div class="holder">
		<%= f.submit 'Guardar y definir stock', :class => "btn btn-default" %>
	</div>
<% end %>
