<style>
	/*set a border on the images to prevent shifting*/
	 #gallery_01 img{ border:2px solid white; }
	 /*Change the colour*/
	 .active img{ border:1px solid #333 !important; }
</style>

<% if dress.dress_status.name.include?('Vendido') %>
<div style="position:absolute; top:100px">
	<div style="background-color:black; color:white; width:300px; text-align:center; padding:10px; opacity:0.7;">
		Producto Agotado
	</div>
</div>
<% end %>
<% if !dress.discount.blank? and dress.discount > 9 %>
	<div style="position:absolute; top:90px; left:-20px; -webkit-transform: rotate(326deg); -moz-transform: rotate(326deg); -o-transform: rotate(326deg); writing-mode: lr-tb;">
		<div style="background-color:yellow; color:black; width:300px; text-align:center; padding:10px; opacity:0.7;">
			ยก<%= dress.discount.to_i %>% de descuento!
		</div>
	</div>
<% end %>

<img id="zoom_03" itemprop="image" src="<%= dress.dress_images.first.dress.url(:main) %>" data-zoom-image="<%= dress.dress_images.first.dress.url(:original) %>" alt="<%= dress.dress_images.first.name %>" />

<% unless (imgs = dress.dress_images).blank? %>
<div id="gallery_01"> 
	<% for image in imgs %>
	<a href="#" data-image="<%= image.dress.url(:main) %>" data-zoom-image="<%= image.dress.url(:original) %>">
	  <img src="<%= image.dress.url(:side) %>" alt="<%= image.name %>" />
	</a>
	<% end %>
</div>
<% end %>

<script type="text/javascript">
	//initiate the plugin and pass the id of the div containing gallery images
	$("#zoom_03").elevateZoom({gallery:'gallery_01', cursor: 'pointer', galleryActiveClass: 'active', borderColour: '#FFF',  zoomWindowWidth: 400 }); 

	//pass the images to Fancybox
	$("#zoom_03").bind("click", function(e) {  
	  var ez =   $('#zoom_03').data('elevateZoom');	
		$.fancybox(ez.getGalleryList());
	  return false;
	});

</script>
