<% cache ['list_dress_5', dress] do %>
	<div class="col-md-3" style="height:371px; overflow:hidden;">
	<% if dress.dress_status.name.include?('Vendido') %>
		<div style="position:absolute; top:40px">
			<div style="background-color:black; color:white; width:190px; text-align:center; padding:10px; opacity:0.7;">
				Producto Agotado
			</div>
		</div>
	<% end %>
	<% if !dress.discount.blank? and dress.discount > 9 %>
		<div style="position:absolute; top:40px">
			<div style="background-color:yellow; color:black; width:190px; text-align:center; padding:10px; opacity:0.7;">
				ยก<%= dress.discount.to_i %>% de descuento!
			</div>
		</div>
	<% end %>

		<%= link_to image_tag(dress.dress_images.first.dress.url(:index_dress), :alt => dress.dress_images.first.name, 
													style: 'max-height:270px; overflow:hidden;'), dress_ver_path(:type => dress.dress_type.name, :slug => dress.slug) %>
		<p style="font-size:12px">
			<span style="margin-right:5px; text-decoration:line-through"><%= number_to_currency dress.original_price %></span> 
			<strong><%= number_to_currency dress.price %></strong><br/>
			<%= link_to dress.introduction, dress_ver_path(:type => dress.dress_type.name, :slug => dress.slug) %>
		 </p>
		<p>
			<% if dress.dress_status.name.include?('Vendido') %>
				<%= link_to raw('<span class="glyphicon glyphicon-shopping-cart"></span>'), 
						buy_add_to_cart_path(:purchasable_type => dress.class, :purchasable_id => dress.id), 
						:method => :post, :class => 'btn btn-default btn-md disabled', title: "Agregar al Carrito" %>
			<% else %>
				<%= link_to raw('<span class="glyphicon glyphicon-shopping-cart"></span>'), 
						buy_add_to_cart_path(:purchasable_type => dress.class, :purchasable_id => dress.id), 
						:method => :post, :class => 'btn btn-default btn-md', title: "Agregar al Carrito" %>							
			<% end %>
			<% if !current_user.nil? and current_user.dresses.include? dress %>
				<%= link_to raw('<span class="glyphicon glyphicon-star"></span>'), 
						user_profile_add_to_wish_list_path(:dress_id => dress.id), 
						:method => :put, class: "btn btn-default btn-md", title: "Agregar a Wish List" %>
			<% else %>
			<%= link_to raw('<span class="glyphicon glyphicon-star-empty"></span>'), 
					user_profile_add_to_wish_list_path(:dress_id => dress.id), 
					:method => :put, class: "btn btn-default btn-md", title: "Agregar a Wish List" %>
			<% end %>
		</p>
	</div><!--/span--> 
<% end %>