<% cache ['list_dress_min_1', dress] do %>
	<div class="col-md-2" style="height:355px; overflow:hidden; margin:0px 5px 0px 5px">
	<% if dress.dress_status.name.include?('Vendido') %>
		<div style="position:absolute; top:40px">
			<div style="background-color:black; color:white; width:190px; text-align:center; padding:10px; opacity:0.7;">
				Producto Agotado
			</div>
		</div>
	<% end %>
	<% if !dress.discount.blank? and dress.discount > 9 %>
		<div style="position:absolute; top:20px; left:-20px; -webkit-transform: rotate(326deg); 
								-moz-transform: rotate(326deg); -o-transform: rotate(326deg); writing-mode: lr-tb;">
			<div style="background-color:yellow; color:black; font-size:12px; font-weight:bold; width:170px; text-align:center; padding:5px; opacity:0.7; ">
				ยก<%= dress.discount.to_i %>% de descuento!
			</div>
		</div>
	<% end %>
		<div style="max-height:270px; overflow:hidden;">
			<% unless dress.dress_images.first.nil? %>
			<%= link_to image_tag(dress.dress_images.first.dress.url(:index_dress), :alt => dress.dress_images.first.name), 
									dress_ver_path(:type => dress.dress_type.name, :slug => dress.slug) %>
			<% end %>						
		</div>
		<p style="font-size:12px">
			<span style="margin-right:5px; text-decoration:line-through"><%= number_to_currency dress.original_price %></span> 
			<strong><%= number_to_currency dress.price %></strong><br/>
			<%= link_to dress.introduction, dress_ver_path(:type => dress.dress_type.name, :slug => dress.slug) %><br />
			<span style="font-size:11px">
				<%= (dress.dress_stock_sizes.map { |dsz| dsz.size.name.downcase if dsz.stock > 0 and !dsz.size.blank?}).uniq.join(', ') %><br />
				<%= (dress.dress_stock_sizes.map { |dsz| dsz.color.downcase if dsz.stock > 0 and !dsz.color.blank? }).uniq.join(', ') %>
			</span>
		 </p>
	</div><!--/span--> 
<% end %>