<% if !@site_configuration.free_shipping_from_price.blank? %>
<div class="container marketing">
	<div class="row" style="margin-top:-50px;">
		<div class="col-md-12" style="text-align:center; font-size:25px">
				<% if @site_configuration.free_shipping_from_price > 0 %>
					<p>¡Despacho gratis para compras por sobre <%= number_to_currency @site_configuration.free_shipping_from_price %>!</p>
				<% else %>
					<p>¡Todas las compras tienen despacho gratis por tiempo limitado!</p>
				<% end %>
		</div>
	</div>
</div>
<% end %>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<% cache ['bazar_home_page_20', Dress.all.last, @home_categories] do %>
	<div class="container ">
	  <div class="row">
			<h1 style="font-size:20px; font-weight:lighter; margin:0px 0px 10px 15px; padding:0px">
				Llegaste al lugar donde las mujeres realizan sus compras de moda online. Todas las semanas encontrarás nuevos productos.
			</h1>
		</div>
	  <div class="row" style="padding-bottom:0px; padding-top:0px;">
			<div class="col-md-12">
				<form action="<%= dresses_search_path %>" method="get">
				  <div class="input-group">
							<%= text_field_tag(:q, @search_text, placeholder: @search_text, class: "form-control", style: 'font-weight:lighter') %>
				       <span class="input-group-btn">
								<%= submit_tag("Buscar", :name => nil, class: "btn btn-default") %>
				  		 </span>
				  </div><!-- /input-group -->
				</form>
			</div>
		</div>
	  <!-- Three columns of text below the carousel -->
		<% @home_categories.each do |hc| %>
			<hr>
			<div class="row">
				<h1 style="font-size:20px; font-weight:lighter; margin:0px 0px 10px 15px; padding:0px">
					<%= link_to hc.title, dresses_ver_path(:type => hc.category_keyword_for_url) %>
				</h1>
				<% hc.dresses[0..4].each do |dress| %>
					<%= render 'list_dress_min', dress: dress %>
				<% end %>
		  </div><!-- /.row -->
			<div class="row">
				<p style="font-size:20px; text-align:right; font-weight:lighter; margin:0px 0px 0px 15px; padding:0px">
					<%= link_to hc.see_more_text+' >>', dresses_ver_path(:type => hc.category_keyword_for_url) %>
				</p>
			</div>
		<% end %>
		<hr>
	  <div class="row featurette">
	    <div class="col-md-7">
	      <h2 class="featurette-heading">¿Cómo funciona Tramanta?<br/>
					<span class="text-muted" style="margin-left:40px">Renovemos tu closet</span></h2>
					<ol class="lead">
						<li>Revisa los productos: puedes usar el buscador o el menú.</li>
						<li>Agrega al carrito de compras los productos que te vayan gustando.</li>
						<li>Comienza el proceso de confirmación de tu compra.</li>
						<li>Paga con tarjetas de crédito, débito o realiza una transferencia.</li>
						<li>Tu producto será despachado según la opción que hayas seleccionado.</li>
						<li>Te llegará un correo de confirmación de tu compra.</li>
					</ol>
	    </div>
	    <div class="col-md-5">
	      <img class="featurette-image img-responsive" src="<%= asset_path 'el_bazar/como-funciona-tramanta.jpg' %>"
					 		data-src="<%= asset_path 'el_bazar/como-funciona-tramanta.jpg' %>" alt="Generic placeholder image">
	    </div>
	  </div>
	
		<hr class="featurette-divider">
	
	  <div class="row featurette">
	    <div class="col-md-5">
	      <img class="featurette-image img-responsive" src="<%= asset_path 'el_bazar/despacho-a-todo-chile.jpg' %>"
					 		data-src="<%= asset_path 'el_bazar/despacho-a-todo-chile.jpg' %>" alt="Generic placeholder image">
	    </div>
	    <div class="col-md-7">
	      <h2 class="featurette-heading">¿Y después de comprar?<br />
					<span class="text-muted" style="margin-left:40px">Siempre informado.</span></h2>
					<ol class="lead">
						<li>Después (entre 2 a 4 días) de haber recibido la confirmación de compra, te llegará un nuevo correo con los datos de tu despacho para que le puedas hacer seguimiento a tu orden.</li>
						<li>Una vez llegue el producto a la dirección de despacho tendrás 5 días corridos para realizar la devolución completando el <%= link_to 'siguiente formulario', new_refund_request_path %>.</li>
						<li>Luego de completado el formulario, un representante de Tramanta.com te contactará para darte las instrucciones de devolución.</li>
					</ol>
	    </div>
	  </div>

	  <hr class="featurette-divider">

	  <div class="row featurette">
	    <div class="col-md-7">
	      <h2 class="featurette-heading">Y para que no te pierdas nada <span class="text-muted">suscríbete.</span></h2>
	      <p class="lead">Inscríbete para que recibas todas las semanas información sobre los nuevos productos, las promociones y ofertas que tenemos preparadas para ti.</p>
				<p>
					<%= form_for @subscriber, :html => {class: "form-horizontal", role: "form"}, :url => subscription_create_path, :validate => false do |f| %>
						<div class="form-group">
							<label for="inputEmail1" class="col-lg-2 control-label">Correo</label>
							<div class="col-lg-10">
										<%= f.text_field :email, class: "form-control", placeholder: "Correo" %>
							 </div>
						</div>
						<div class="form-group">
					    <label for="inputComuna1" class="col-lg-2 control-label">Comuna</label>
					    <div class="col-lg-10">
								<%= f.grouped_collection_select(:commune_id, Region.order(:name), :communes, :name, :id, :name, 
																								{ :prompt => t('select') }, { :class=> "form-control", style: 'width:100%' }) %>
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-lg-offset-2 col-lg-10">
								<%= f.submit 'Suscribirse', class: "btn btn-default" %>
					    </div>
					  </div>
					<% end %>
				</p>
	    </div>
	    <div class="col-md-5">
	      <img class="featurette-image img-responsive" src="<%= asset_path 'el_bazar/suscribete-a-tramanta.jpg' %>"
					 		data-src="<%= asset_path 'el_bazar/suscribete-a-tramanta.jpg' %>" alt="Generic placeholder image">
	    </div>
	  </div>
	</div><!-- /.container -->
<% end %>