<p id="notice"><%= notice %></p>
<div class="clear"></div>
<div class="left_content shadow" style="width:320px; float:left; margin-left:50px;">
	<div>
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('dresses_icons/party_dresses01.jpg'), dresses_ver_path(:type => "vestidos-fiesta") %>
			<div style="font:12px; width:290px">
				<b><%= link_to '¡Vestidos de Fiesta!', dresses_ver_path(:type => "vestidos-fiesta") %></b><br>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="left_content shadow" style="width:320px; float:left; margin-left:50px;">	
	<div class="">
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('dresses_icons/shoes01.jpg'), dresses_ver_path(:type => "zapatos") %>
			<div style="font:12px; width:290px">
				<b><%= link_to 'Zapatos', dresses_ver_path(:type => "zapatos") %></b><br>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="left_content shadow" style="width:320px; float:left; margin-left:50px;">	
	<div class="">
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('dresses_icons/accessories01.jpg'), dresses_accessories_menu_path(:type => "accesorio") %>
			<div style="font:12px; width:290px">
				<b><%= link_to 'Accesorios', dresses_accessories_menu_path %></b><br>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="left_content shadow" style="width:320px; float:left; margin-left:50px;">	
	<div class="">
		<div style="float:left; min-height:200px; margin:10px;">
			<%= link_to image_tag('dresses_icons/trousseau01.jpg'), dresses_ver_path(:type => "ajuar") %>
			<div style="font:12px; width:290px">
				<b><%= link_to 'Ropa Interior', dresses_ver_path(:type => "ajuar") %></b><br>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
