<div class="container">
	<div class="row">
		<div class="col-md-4">
			<img src="<%= @dress.dress_images.first.dress.url(:main) %>" alt="<%= @dress.dress_images.first.name %>" />
			<p>Mostrando solo la imagen principal del producto</p>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<h1>Definición de stock</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">Stock</div>
				<div class="col-md-3">Talla</div>
				<div class="col-md-3">Color</div>
				<div class="col-md-3"></div>
			</div>

			<%= nested_form_for @dress, :html => {:multipart => true, role: 'form', class: 'form-inline'}, :validate => true do |f| %>
					<%= render 'dress_stock_size_fields', :f => f  %>
					<%= f.link_to_add 'Agregar Nueva Talla', :dress_stock_sizes, :class => 'btn btn-default btn-sm' %>

			<div class="row">
				<div class="col-md-12">
					<p class="help-block">Revisa bien el stock por talla antes de continuar</p>
					<div><%= f.submit 'Guardar', :class => "btn btn-primary" %></div>  
				</div>
			</div>
		<% end %>
	</div>
</div>