<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-523df79925565aca"></script>
<div class="container">
	<%= render 'layouts/notice', notice: notice %>
	<div class="row">
		<div class="col-md-9" itemscope itemtype="http://data-vocabulary.org/Product">
			<meta itemprop="identifier" content="mpn:"<%= @dress.code %> />
			<div class="row">
				<div class="col-md-5">
					<div class="addthis_toolbox addthis_default_style" style="margin-top:5px">
						<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
						<a class="addthis_button_tweet"></a>
						<a class="addthis_button_pinterest_pinit"></a> 
					</div>
					<% if @enable_edit %>
					<div style="background:black; padding:2px; text-align:center;">
						<%= link_to 'Información | ', edit_supplier_account_dress_path(@supplier, @dress), :class => 'edit_dress_link' %>
						<%= link_to 'Stock', dresses_set_stock_path(:id => @dress.id), :class => 'edit_dress_link' %>
						<% if developer? %>
							<%= link_to ' | Eliminar', @dress, confirm: '¿Estás seguro?', method: :delete, :class => 'edit_dress_link' %>
						<% end %>
					</div>
					<% end %>
					<% if @mobile %>
						<% cache ['mobile', @dress] do %>
							<%= render 'info_dress_images_mobile', :dress => @dress, enable_edit: @enable_edit, supplier: @supplier %>
						<% end %>
					<% else %>
						<% cache ['desktop_2', @dress] do %>
							<%= render 'info_dress_images', :dress => @dress, enable_edit: @enable_edit, supplier: @supplier %>
						<% end %>
					<% end %>
				</div>
				<div class="col-md-7">
					<h2 style="font-size:22px; margin-bottom:5px" itemprop="name"><%= @dress.introduction %></h2>
					<div itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
						<h2 style="font-size:18px; margin-top:0px; color:#285e8e">
							<% if !@dress.discount.blank? and @dress.discount > 9 %>
							<span style="margin-right:5px; text-decoration:line-through"><%= number_to_currency @dress.original_price %></span> 
							<% end %>
							<span itemprop="price"><%= number_to_currency @dress.price %></span> <meta itemprop="currency" content="CLP" />
						</h2>
						<p itemprop="description"><%= raw @dress.description.gsub(/\n/, '<br/>') %></p>
						<p>Tallas y colores disponibles:</p>
						<ul><%= raw @dress_stock_text %></ul>
						<!-- Button trigger modal -->
						<p data-toggle="modal" data-target="#myModal" style="cursor:pointer; font-size:12px;">
						  <span class="glyphicon glyphicon-search"></span> Ver tabla de medidas
						</p>
						<% if @dress.dress_status.name == 'Disponible' %>
							<div class="purchase_section" style="margin-top:30px;">
								<span itemprop="availability" content="in_stock">
									<%= render 'purchase_section', dress: @dress %>
								</span>
								<span itemprop="condition" content="new">
									<%= render 'info_delivery', dress: @dress %>
								</span>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="row">
			<% unless @viewed_dresses.blank? %>
					<hr>
					<div class="col-md-12"><p><strong>Productos que has visto recientemente:</strong></p></div>
					<%= render 'viewed_dresses', viewed_dresses: @viewed_dresses %>
			<% end %>
			</div>
		</div>
		<% unless @related_dresses.blank? %>
			<% cache ['related_dresses', @dress] do %>
			<div class="col-md-3" style="text-align:right; border-left:1px solid #eee;">
				<p><strong>Otros productos relacionados</strong></p>
				<%= render 'related_dresses', related_dresses: @related_dresses %>
			</div>
			<% end %>
		<% end %>
	</div>
</div><!--/.container-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Tabla de Medidas</h4>
      </div>
      <div class="modal-body">
				<table class="table table-striped">
					<tr>
						<th>Talla</th>
						<th>Busto (cms)</th>
						<th>Cintura (cms)</th>
						<th>Caderas (cms)</th>
					</tr>
					<tr>
						<th>XXS</th>
						<td>78,5</td>
						<td>60,5</td>
						<td>86</td>
					</tr>
					<tr>
						<th>XS</th>
						<td>81</td>
						<td>63</td>
						<td>88,5</td>
					</tr>
					<tr>
						<th>S</th>
						<td>86</td>
						<td>68</td>
						<td>93,5</td>
					</tr>
					<tr>
						<th>M</th>
						<td>91</td>
						<td>73</td>
						<td>98,5</td>
					</tr>
					<tr>
						<th>L</th>
						<td>96</td>
						<td>78</td>
						<td>103,5</td>
					</tr>
					<tr>
						<th>XL</th>
						<td>101</td>
						<td>83</td>
						<td>108,5</td>
					</tr>
				</table>
				<p><i>Las medidas son referenciales y pueden variar por modelo.</i></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->