<div class="container">
	<div class="row">
		<div class="col-md-4">
			<%= link_to 'Agregar un nuevo item', new_supplier_account_dress_path(@supplier), :class => 'button' %>
		</div>
		<div class="col-md-8">
			<%= form_tag(supplier_account_dresses_path(@supplier), :method => "get") do %>
				<%= text_field_tag(:q, @search_term, :size => 75) %> <%= submit_tag("Buscar", :class => 'button_filter_pink') %>
			<% end %>
		</div>
	</div>
	
  <div class="row row-offcanvas row-offcanvas-right" style="margin-top:20px">
   <%= render 'dresses/view_dress_list', :dresses => @dresses %>
  </div><!--/row-->
</div><!--/.container-->