<% if(@dresses.size >= @scrolling_set) %>
	<script>		
		flag_up = false	
		ids = '<%= @dresses_array_ids %>'
		type = '<%= params[:type] %>'		
		edit = '<%= @enable_edit %>'
		supp = '<%=  @supplier ? @supplier.id : 0 %>'


 		$(document).ready(function(){
 		$('#albums_columns').masonry();
 		load_album_endless_scrolling(next_dress_scroll_feed)
 		});

	</script>

<% end %>

<% if !@enable_edit %>
	<% if @soldable %>
	<div class="right_link_in_catalog_page">
		<%= link_to t('sell_your_dress'), "#sell_dress", :id => 'form_inline', :class => 'button' %> 
	</div>
	<% end %>
<% else %>
	<div class="right_link">
		<%= link_to 'Agregar un nuevo item', new_supplier_account_dress_path(@supplier), :class => 'button' %>
	</div>
	<div class="clear"></div>
	<div style="margin-bottom:10px;"></div>
<% end %>
<div class="left_menu">
	<%= render 'dresses/left_menu', :dresses => @dresses %>
</div>
<div id="albums_columns" style="width:800px; float:left; margin-left:10px;">
	<%= render 'dresses/view_dress_list', :dresses => @dresses %>
</div>
<% if(@dresses.size >= @scrolling_set) %>
	<div class="loading"><%=image_tag "campaign/after_contest/1/loading.gif", :size =>'50x22' %></div>
<% end %>

<%= render 'sell_your_dress_message' %>
