<div class="titulos">
	<%= (is_groom == true ? t('activerecord.models.groom') : t('activerecord.models.bride')) %>
</div>
<div class="holder">
	<%= f.fields_for (is_groom == true ? :groom : :bride) do |form| %>
		<table class="invisible">
			<% unless (hide_non_campaign_fields ||= false) %>
				<tr>
					<td>
						<%= form.label :name %><%= mark_required(form.object, :name) %><br />
						<%= form.text_field :name %>
					</td>
				</tr>
				<tr>
					<td>
						<%= form.label :lastname_p %><%= mark_required(form.object, :lastname_p) %><br />
						<%= form.text_field :lastname_p %>
					</td>
				</tr>
				<tr>
					<td>
						<%= form.label :lastname_m %><%= mark_required(form.object, :lastname_m) %><br />
						<%= form.text_field :lastname_m %>
					</td>
				</tr>
				<tr>
					<td>
						<%= form.label :email%><%= mark_required(form.object, :email) %><br />
						<%= form.text_field :email %>
					</td>
				</tr>
				<tr>
					<td>
						<%= form.label :rut %><%= mark_required(form.object, :rut) %><br />
						<%= form.text_field :rut, :onblur => 'format_rut(this)' %>
					</td>
				</tr>
			<% else %>
				<tr>
					<td>
						<div class="help_tip">
							Los dem치s datos est치n en la secci칩n de la campa침a (<%= link_to "arriba", "#campaign_user_profile" %>)
						</div>
					</td>
				</tr>
			<% end %>
			<tr>
				<td>
					<%= form.label :born_date %><%= mark_required(form.object, :born_date) %><br />
					<%= form.date_select :born_date, :start_year => 1900 %>
				</td>
			</tr>
			<tr>
				<td>
					<%= form.label :phone %><%= mark_required(form.object, :phone) %><br />
					<%= form.text_field :phone %>
				</td>
			</tr>
			<tr>
				<td>
					<%= form.label :cell_phone %><%= mark_required(form.object, :cell_phone) %><br />
					<%= form.text_field :cell_phone %>
				</td>
			</tr>
			<tr>
				<td>
					<%= form.label :profession %><%= mark_required(form.object, :profession) %><br />
					<%= form.text_field :profession %>
				</td>
			</tr>
			<tr>
				<td>
					<div class="line"></div>
					<%= form.fields_for :address do |address| %>
						<table class="invisible">
							<tr>
								<td>
									<%= t('activerecord.attributes.address.street') %><br/>
									<%= address.text_field :street %>
								</td>
							</tr>
							<tr>
								<td>
									<%= t('activerecord.attributes.address.number') %><br/>
									<%= address.text_field :number %>
								</td>
							</tr>
							<tr>	
								<td>	 
									<div>
										<%= address.label :region_id, t('activerecord.attributes.address.region') %><br />
										<%= address.collection_select(:region_id, Region.order(:name), :id, :name, :prompt => t('select')) %>
									</div>
									<br />
									<div>
										<%= address.label :commune_id, t('activerecord.attributes.address.commune') %><br />
										<%= address.grouped_collection_select :commune_id, Region.order(:name), :communes, :name, :id, :name, :prompt => t('select') %>
									</div>
								</td>
							</tr>
						</table>	
					<% end %>
				</td>
			</tr>
			<tr>
				<td>
					<%= form.fields_for (is_groom == true ? :groom_image : :bride_image) do |image_form| %>
						<table class="invisible">
							<tr>
								<td>Imagen</td>
								<td>
									<%= image_form.file_field (is_groom == true ? :groom : :bride) %>
								</td>
							</tr>
						</table>
					<% end %>
				</td>
			</tr>
		</table>
	<% end %>
</div>
