<div class="left_menu">
	<%= render 'left_menu', :dresses => @dresses %>
</div>
<div style="width:750px; float:left; margin-left:20px;">
	<h1>Personalización</h1>
	<p>Acá podrás darnos más información sobre tus preferencias y tus medidas para que podamos enviarte los productos y promociones que más te interesan y ¡mejor te quedarán!</p>
	<p>Nunca compartiremos esta información. Solo usaremos esta información para poder enviarte correos personalizados y mejorar tu experiencia en la página sugieriendo los productos que mejor te podrían quedar y más te van a gustar.</p>
	<div style="border-top:1px dotted #ccc; margin:15px 0px 15px 0px">
		<h2>Tus Medidas</h2>
		<div style="float:left">
			<%= image_tag 'el_bazar/medidas.png', alt: 'medidas' %>
		</div>
		<div>
			<h3 style="margin-top:105px">
				Busto <%= @cloth_measure.nil? ? link_to('= ?', new_cloth_measure_path, class: 'no_underline') : link_to('= '+@cloth_measure.bust.to_s+' cms', edit_cloth_measure_path(@cloth_measure), class: 'no_underline') %>
			</h3>
			<h3 style="margin-top:20px">
				Cintura <%= @cloth_measure.nil? ? link_to('= ?', new_cloth_measure_path, class: 'no_underline') : link_to('= '+@cloth_measure.waist.to_s+' cms', edit_cloth_measure_path(@cloth_measure), class: 'no_underline') %>
			</h3>
			<h3 style="margin-top:25px">
				Caderas <%= @cloth_measure.nil? ? link_to('= ?', new_cloth_measure_path, class: 'no_underline') : link_to('= '+@cloth_measure.hips.to_s+' cms', edit_cloth_measure_path(@cloth_measure), class: 'no_underline') %>
			</h3>
		</div>
		<div class="clear"></div>
	</div>
</div>
