<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= render 'date_range_selector' %>
			<div>
				<% total_tramanta_debt = 0 %>
				<% total_tramanta_unpaid_products = 0 %>
				
				<% @supplier_accounts.each do |sa| %>
				<% products = sa.check_owned_products_purchased_from_purchases(@purchases) %>
				<% not_paid = false %>
				<% products.map {|val| (not_paid = true; puts [:store_paid]) if !val[:store_paid] } %>
				<% if not_paid %>
					<%= form_tag(administration_new_store_payment_path, :method => "post", :html => {class: 'form-horizontal', role: 'form'}) do %>
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= sa.id %>">
				          <%= sa.fantasy_name %>
				        </a>
				      </h4>
				    </div>
				    <div id="collapse<%= sa.id %>" class="panel-collapse collapse">
				      <div class="panel-body">
								<table class="table table-condensed report" style="font-size:11px">
								  <tr>
										<th>Pagar</th>
								    <th>Fecha Compra</th>
								    <th>Producto</th>
								    <th>Precio Vendido</th>
										<th>Cantidad</th>
										<th>Talla</th>
								    <th>Pago por Producto</th>
								    <th>Pago Total</th>
								    <th>¿Producto Pagado?</th>
								  </tr>
									<% debt = 0 %>
									<% prod_count = 0 %>
									<% products.each do |val| %>
										<% if !val[:store_paid] and !val[:refunded] %>
											<tr>
												<% dress = Dress.find val[:dress_id] %>
												<td><%= check_box_tag 'sci_ids[]', val[:sci_id], false, id: val[:sci_id],
																:onchange => 'update_amount_to_pay('+sa.id.to_s+', '+(val[:unit_cost]*val[:quantity]).to_s+', '+val[:sci_id].to_s+')' %></td>
												<td><%= val[:date].strftime("%Y-%m-%d") %><br /><%= dress.introduction %></td>
												<td><%= link_to image_tag(dress.small_image), dress_ver_path(:type => dress.dress_type.name, :slug => dress.slug) %></td>
												<td><%= number_to_currency val[:price] %></td>
												<td><%= val[:quantity] %></td>
												<td><%= val[:size] %></td>
												<td><%= number_to_currency (val[:unit_cost].nil? ? 0 : val[:unit_cost]) %></td>
												<td><%= number_to_currency (val[:unit_cost].nil? ? 0 : val[:unit_cost]*val[:quantity]) %></td>
												<td><%= val[:store_paid] ? 'Sí' : 'No' %></td>
											</tr>
											<% debt = debt + (val[:unit_cost].nil? ? 0 : val[:unit_cost]*val[:quantity]) %>
											<% prod_count = prod_count + 1 %>
										<% end %>
									<% end %>
								</table>
								<p>Total seleccionado = <b>$ <span id="<%= sa.id %>">0</span></b></p>
								<p><%= submit_tag("Generar Pago",  class: "btn btn-default btn-xs") %></p>
				      </div>
				    </div>
						<p style="margin-left:20px; margin-top:10px;">Total adeudado = <b><%= number_to_currency debt %></b> (<%= prod_count %> productos)</p>
						<% total_tramanta_debt = total_tramanta_debt + debt %>
						<% total_tramanta_unpaid_products = total_tramanta_unpaid_products + prod_count %>
				  </div>
					<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row" style="border:1px solid grey;">
		<div class="col-md-12">
			<p style="margin-top:10px;">Total adeudado = <b><%= number_to_currency total_tramanta_debt %></b> 
				(<%= total_tramanta_unpaid_products %> productos)</p>
		</div>
	</div>
</div>

<%= render 'layouts/notice', notice: notice %>