<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Pago a Proveedores</h1>
			<%= render 'date_range_selector' %>
			<div>
				<% @supplier_accounts.each do |sa| %>
					<%= form_tag(administration_new_store_payment_path, :method => "get", :html => {class: 'form-horizontal', role: 'form'}) do %>
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
				          <%= sa.fantasy_name %>
				        </a>
				      </h4>
				    </div>
				    <div id="collapse11" class="panel-collapse collapse">
				      <div class="panel-body">
								<table class="table table-condensed report" style="font-size:11px">
								  <tr>
										<th>Pagar</th>
								    <th>Fecha Compra</th>
								    <th>Producto</th>
								    <th>Precio Vendido</th>
										<th>Cantidad</th>
										<th>Talla</th>
								    <th>¿Producto Devuelto?</th>
								    <th>Pago por Producto</th>
								    <th>Pago Total</th>
								    <th>¿Producto Pagado?</th>
								  </tr>
									<% debt = 0 %>
									<% sa.check_owned_products_purchased_from_purchases(@purchases).each do |val| %>
									<tr>
										<% dress = Dress.find val[:dress_id] %>
										<td><%= check_box_tag 'sci_ids[]', val[:sci_id], false, 
														:onchange => 'update_amount_to_pay('+sa.id.to_s+', '+(val[:unit_cost]*val[:quantity]).to_s+', self)' %></td>
										<td><%= val[:date].strftime("%Y-%m-%d") %><br /><%= dress.introduction %></td>
										<td><%= link_to image_tag(dress.small_image), dress_ver_path(:type => dress.dress_type.name, :slug => dress.slug) %></td>
										<td><%= number_to_currency val[:price] %></td>
										<td><%= val[:quantity] %></td>
										<td><%= val[:size] %></td>
										<td><%= val[:refunded] ? 'Sí' : 'No' %></td>
										<td><%= number_to_currency (val[:unit_cost].nil? ? 0 : val[:unit_cost]) %></td>
										<td><%= number_to_currency (val[:unit_cost].nil? ? 0 : val[:unit_cost]*val[:quantity]) %></td>
										<td><%= val[:store_paid] ? 'Sí' : 'No' %></td>
									</tr>
									<% debt = debt + (val[:unit_cost].nil? ? 0 : val[:unit_cost]*val[:quantity]) %>
									<% end %>
								</table>
								<p>Total seleccionado = <b>$ <span id="<%= sa.id %>">0</span></b> <%= submit_tag("Generar Pago",  class: "btn btn-default btn-xs") %><p>
								<p>Total adeudado = <b><%= number_to_currency debt %></b></p>
				      </div>
				    </div>
				  </div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<%= render 'layouts/notice', notice: notice %>