<div class="container">
	<div class="row">
		<div class="col-md-12">			
			<div class="row">
				<div class="col-md-12">
					<table class="table table-condensed report" style="font-size:11px">
					  <tr>
					    <th>Fecha</th>
					    <th>Tienda</th>
					    <th>Tipo</th>
					    <th>Usuario</th>
					    <th>Total $</th>
					    <th>Estado</th>
					    <th>Créditos usados</th>
					    <th>Tracking #</th>
					    <th>3PL</th>
					    <th>¿Fondos recibidos?</th>
					    <th>¿Tienda pagada?</th>
					    <th>¿Devolución realizada?</th>
							<th> </th>
					  </tr>

					<% @purchases.each do |purchase| %>
					  <tr <%= purchase.funds_received ? raw('style="background-color:#f5fffa"') : raw('style="background-color:#ffe4e1"') %>>
						<% if purchase.purchasable.nil? %>
							<td><%= purchase.created_at.strftime("%d-%m-%y") %></td>
							<td>purchase.purchasable es nil!</td>
						<% else %>
							<td><b><%= purchase.created_at.strftime("%d-%m-%y") %></b><br />
							<%= link_to image_tag(purchase.purchasable.small_image), purchase %></td>
							<td>
								<%= !purchase.purchasable.supplier_account.nil? ? purchase.purchasable.supplier_account.fantasy_name : 'n/a' %><br />
								<%= !purchase.purchasable.supplier_account.nil? ? purchase.purchasable.supplier_account.net_margin.to_s+'% + IVA' : '' %>
							</td>
						<% end %>
					    <td><%= purchase.purchasable_type %></td>
					    <td><%= purchase.user.email %> <%= raw '<br />('+purchase.delivery_info.name+')' if !purchase.delivery_info.nil? %></td>
					    <td><%= purchase.transfer_type %><br /><%= number_to_currency purchase.price %> <%= purchase.currency %></td>
					    <td><%= purchase.status == 'finalizado' ? 'OK' : 'No OK' %></td>
					    <td><%= number_to_currency(purchase.credits_used) if !purchase.credits_used.nil? %></td>
					    <td>
							<%= purchase.tracking_number %><br />
							<%= !purchase.delivery_cost.nil? ? 'P: '+number_to_currency(purchase.delivery_cost) : '' %><br />
							<%= !purchase.actual_delivery_cost.nil? ? 'C: '+number_to_currency(purchase.actual_delivery_cost) : '' %>
						</td>
					    <td><%= purchase.logistic_provider.name  if !purchase.logistic_provider.nil? %></td>
					    <td><%= purchase.funds_received ? 'Sí' : 'No' %></td>
					    <td><%= purchase.store_paid ? 'Sí' : 'No' %><br /><%= number_to_currency(purchase.total_cost) %></td>
					    <td><%= purchase.refunded ? raw('Sí <br />'+number_to_currency(purchase.refund_value)) : 'No' %></td>
						<td><%= link_to 'Editar', administration_edit_purchase_path(purchase) %> | 
							<%= link_to 'Eliminar', purchase, confirm: 'Seguro?', method: :delete %>
						</td>
					  </tr>
					  <% if purchase.purchasable_type == 'ShoppingCart' %>
						<% purchase.purchasable.shopping_cart_items.each do |sci| %>
						<tr>
							<td colspan="16">
								<div style="margin-left:15px">
									<b><%= link_to sci.purchasable.introduction, 
												dress_ver_path(:type => sci.purchasable.dress_type.name, :slug => sci.purchasable.slug) %></b> 
									| Precio: <%= number_to_currency(sci.purchasable.price*sci.quantity) if !sci.purchasable.nil? and !sci.quantity.nil? %> 
													<em>(<%= number_to_currency(sci.purchasable.price) %> c/u)</em>
									| Cantidad: <%= sci.quantity %> 
									| Talla: <%= sci.size %> 
									| Tienda: <%= link_to sci.purchasable.supplier_account.fantasy_name, 
													supplier_description_path(:public_url => sci.purchasable.supplier_account.public_url) %> 
									| Pago a tienda: <em>(<%= number_to_currency(sci.total_cost) %>)</em>
								</div>
							</td>
						</tr>
						<% end %>
					  <% end %>
					<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>