<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= render 'date_range_selector' %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table class="table table-condensed table-hover" style="font-size:12px">
				<tr>
					<td colspan="<%= @colspan %>"><h3>Results</h3></td>
				</tr>
				<tr style="background-color:black; color:white">
					<td>Período de Tiempo</td>
						<th>
							<%= @from.strftime('%d/%m/%Y') %> - <%= @to.strftime('%d/%m/%Y') %>
						</th>
				</tr>
				<tr style="background-color:#DAF2F2;">
					<th>
						Sales <a class="tiptip" style="cursor:pointer" data-placement="right" data-original-title="Sales" data-content="Cash In + Credits - Delivery Income">
						<span class="glyphicon glyphicon-question-sign"></span>
						</a>
					</th>
					<th><%= number_to_currency @sales_week %></th>
				</tr>
				<tr style="background-color:#f5fffa;">
					<td>Cash In</td>
					<td><%= number_to_currency @price_week %></td>
				</tr>
				<tr style="background-color:#f5fffa;">
					<td>Credits</td>
					<td><%= number_to_currency @credits_week %></td>
				</tr>				
				<tr style="background-color:#f5fffa;">
					<td>Delivery Income</td>
					<td><%= number_to_currency @dispatch_income_week %></td>
				</tr>
				<tr style="background-color:#ffe4e1;">
					<td>Products Costs 
						<a class="tiptip" style="cursor:pointer" data-placement="right" data-original-title="Products Costs" 
						data-content="Costo de los productos sin IVA (es lo que le pagamos a la tienda). No incluye los productos que se devolvieron ya que esos no se van a pagar a la tienda."> <span class="glyphicon glyphicon-question-sign"></span>
						</a>
					</td>
					<td><%= number_to_currency @cost_week %></td>
				</tr>
				<tr style="background-color:#ffe4e1;">
					<td>IVA
						<a class="tiptip" style="cursor:pointer" data-placement="right" data-original-title="IVA" 
						data-content="Está calculado como [Sales x Margin x 0,19"> <span class="glyphicon glyphicon-question-sign"></span>
						</a>
					</td>
					<td><%= number_to_currency @tax_week %></td>
				</tr>
				<tr style="background-color:#ffe4e1;">
					<td>Delivery Cost</td>
					<td><%= number_to_currency @dispatch_cost_week %></td>
				</tr>
				<tr style="background-color:#ffe4e1;">
					<td>Refunds</td>
					<td><%= number_to_currency @refunds_week %></td>
				</tr>
				<tr style="background-color:#DAF2F2;">
					<td>Revenue
						<a class="tiptip" style="cursor:pointer" data-placement="right" data-original-title="Revenue" 
						data-content="Sales - Product Cost - IVA + Delivery Income - Delivery Cost - Credits - Refunds"> <span class="glyphicon glyphicon-question-sign"></span>
						</a>
					</td>
					<td><%= number_to_currency @revenue_week %></td>
				</tr>
				<tr>
					<td>Margin
						<a class="tiptip" style="cursor:pointer" data-placement="right" data-original-title="Average Margin" 
						data-content="Es la comisión promedio. Se calcula como (Sales - Products Costs) / (Sales * 1.19). Ojo que asume que todas las tiendas están en la modalidad de comisión, es decir les cobramos un X% + IVA"> 
						<span class="glyphicon glyphicon-question-sign"></span>
						</a>
					</td>
					<td><%= number_to_percentage @margin_week*100 %></td>
				</tr>
				<tr>
					<td>Purchases Made</td>
					<td><%= @purchases_week %></td>
				</tr>
				<tr>
					<td>Products Sold</td>
					<td><%= @prod_week %></td>
				</tr>
				<tr>
					<td>Average Delivery Time</td>
					<td><%= @average_delivery_time_week %></td>
				</tr>
				<tr>
					<td colspan="<%= @colspan %>"><h3>Supply</h3></td>
				</tr>
				<tr style="background-color:black; color:white">
					<td>Período de Tiempo</td>
						<th>
							<%= @from.strftime('%d/%m/%Y') %> - <%= @to.strftime('%d/%m/%Y') %>
						</th>
				</tr>
				<tr>
					<td>New Stores</td>
					<td><%= @stores_week %></td>
				</tr>
				<tr>
					<th>New Products</th>
					<th><%= @new_products %></th>
				</tr>
				<% DressType.all.each do |dt| %>
				<tr>
					<td style="padding-left:15px"><%= dt.get_human_name %></td>
					<td><%= @products_created_week[dt.name] %></td>
				</tr>
				<% end %>
				<tr>
					<td colspan="<%= @colspan %>"><h3>Demand</h3></td>
				</tr>
				<tr style="background-color:black; color:white">
					<td>Período de Tiempo</td>
						<th>
							<%= @from.strftime('%d/%m/%Y') %> - <%= @to.strftime('%d/%m/%Y') %>
						</th>
				</tr>
				<tr>
					<td>New Users</td>
					<td><%= number_with_delimiter @new_users %></td>
				</tr>
				<tr>
					<td>Newsletter Subscribers</td>
					<td><%= number_with_delimiter @new_subscribers %></td>
				</tr>
				<tr>
					<td colspan="<%= @colspan %>"><h3>Category Analysis</h3>Cash In by Category</td>
				</tr>
				<tr style="background-color:black; color:white">
					<td>Período de Tiempo</td>
						<th>
							<%= @from.strftime('%d/%m/%Y') %> - <%= @to.strftime('%d/%m/%Y') %>
						</th>
				</tr>
				<% DressType.all.each do |dt| %>
				<tr>
					<td>
						<%= dt.get_human_name %>
					</td>
					<td>
					<% if !@categories_data[dt.name].nil? %>
						<%= number_to_currency @categories_data[dt.name][:price_week] %>
					<% else %>
						0
					<% end %>
					</td>
			</tr>
			<% end %>
			</table>
		</div>		
	</div>
</div>