<h1>Sales Dashboard</h1>
<div style="float:left">
<%= render 'date_range_selector' %><br /><br />
<%= link_to 'Volver al menú de administración', administration_index_path %>
</div>
<div style="float:left; margin-left:15px;">
	<table>
		<tr><th style="width:150px">Fondos recibidos:</th><td style="width:100px"><%= number_to_currency @p_sum %></td></tr>
		<tr><th>Fondos devueltos:</th><td><%= number_to_currency @r_sum %></td></tr>
		<tr><td><b>Resultado:</b></td><td><b><%= number_to_currency(@p_sum - @r_sum) %></b></td></tr>
		<tr><th>Compras realizadas:</th><td><%= @count %></td></tr>
		<tr><th>Productos vendidos:</th><td><%= @prod_count %></td></tr>
	</table>
</div>
<div class="clear"></div>