<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= render 'date_range_selector' %>
			<div style="font-size:12px">Semana actual = <%= Date.today.strftime('%W').to_i + 1 %></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="text-align:right">
			<%= form_tag(reports_wbr_path(format: "csv"), :method => "get", :html => {class: 'form-horizontal', role: 'form'}) do %>
				<%= hidden_field_tag(:from, @from.strftime("%Y-%m-%d")) %>
				<%= hidden_field_tag(:to, @to.strftime("%Y-%m-%d")) %>
				<%= submit_tag("Descargar Resultados",  class: "btn btn-default btn-sm") %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-condensed table-hover" style="font-size:12px">
				<tr>
					<td colspan="<%= @colspan %>"><h3>Results</h3></td>
				</tr>
				<tr style="background-color:black; color:white">
					<td>Semana</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<th>
									<%= week.to_s+' - '+year.to_s %><br />
									<%= Date.commercial(year, week, 1).strftime('%d/%m') %>
							</th>
						<% end %>
					<% end %>
				</tr>
				<tr style="background-color:#DAF2F2;">
					<th>
						Sales <a class="tiptip" style="cursor:pointer" data-placement="right" data-original-title="Sales" data-content="Cash In + Credits - Delivery Income">
						<span class="glyphicon glyphicon-question-sign"></span>
						</a>
					</th>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<th><%= number_to_currency @wbr_data[week.to_s+' - '+year.to_s][:sales_week] %></th>
						<% end %>
					<% end %>
				</tr>
				<tr style="background-color:#f5fffa;">
					<td>Cash In</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= number_to_currency @wbr_data[week.to_s+' - '+year.to_s][:price_week] %></td>
						<% end %>
					<% end %>
				</tr>
				<tr style="background-color:#f5fffa;">
					<td>Credits</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= number_to_currency @wbr_data[week.to_s+' - '+year.to_s][:credits_week] %></td>
						<% end %>
					<% end %>
				</tr>				
				<tr style="background-color:#f5fffa;">
					<td>Delivery Income</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= number_to_currency @wbr_data[week.to_s+' - '+year.to_s][:dispatch_income_week] %></td>
						<% end %>
					<% end %>
				</tr>
				<tr style="background-color:#ffe4e1;">
					<td>Products Costs 
						<a class="tiptip" style="cursor:pointer" data-placement="right" data-original-title="Products Costs" 
						data-content="Costo de los productos sin IVA (es lo que le pagamos a la tienda). No incluye los productos que se devolvieron ya que esos no se van a pagar a la tienda."> <span class="glyphicon glyphicon-question-sign"></span>
						</a>
					</td>
					
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= number_to_currency @wbr_data[week.to_s+' - '+year.to_s][:cost_week] %></td>
						<% end %>
					<% end %>
				</tr>
				<tr style="background-color:#ffe4e1;">
					<td>IVA
						<a class="tiptip" style="cursor:pointer" data-placement="right" data-original-title="IVA" 
						data-content="Está calculado como [Costo de Producto x (1/0.81 - 1)]"> <span class="glyphicon glyphicon-question-sign"></span>
						</a>
					</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= number_to_currency @wbr_data[week.to_s+' - '+year.to_s][:cost_week]*(1/0.81-1) %></td>
						<% end %>
					<% end %>
				</tr>
				<tr style="background-color:#ffe4e1;">
					<td>Delivery Cost</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= number_to_currency @wbr_data[week.to_s+' - '+year.to_s][:dispatch_cost_week] %></td>
						<% end %>
					<% end %>
				</tr>
				<tr style="background-color:#ffe4e1;">
					<td>Refunds</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= number_to_currency @wbr_data[week.to_s+' - '+year.to_s][:refunds_week] %></td>
						<% end %>
					<% end %>
				</tr>
				<tr style="background-color:#DAF2F2;">
					<td>Revenue
						<a class="tiptip" style="cursor:pointer" data-placement="right" data-original-title="Revenue" 
						data-content="Sales - Product Cost - IVA + Delivery Income - Delivery Cost - Credits - Refunds"> <span class="glyphicon glyphicon-question-sign"></span>
						</a>
					</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= number_to_currency @wbr_data[week.to_s+' - '+year.to_s][:revenue_week] %></td>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<td>Margin
						<a class="tiptip" style="cursor:pointer" data-placement="right" data-original-title="Margin" 
						data-content="Se calcula como (1 - Products Cost / Sales). Para el cálculo también se consideran las compras que generaron devoluciones."> 
						<span class="glyphicon glyphicon-question-sign"></span>
						</a>
					</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= number_to_percentage @wbr_data[week.to_s+' - '+year.to_s][:margin_week] %></td>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<td>Purchases Made</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= @wbr_data[week.to_s+' - '+year.to_s][:purchases_week] %></td>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<td>Products Sold</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= @wbr_data[week.to_s+' - '+year.to_s][:prod_week] %></td>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<td colspan="<%= @colspan %>"><h3>Supply</h3></td>
				</tr>
				<tr style="background-color:black; color:white">
					<td>Semana</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
						<th>
								<%= week.to_s+' - '+year.to_s %><br />
								<%= Date.commercial(year, week, 1).strftime('%d/%m') %>
						</th>
						<% end %>
					<% end %>
				</tr>	
				<tr>
					<td>New Stores</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= @wbr_data[week.to_s+' - '+year.to_s][:stores_week] %></td>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<th>New Products</th>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<th><%= @wbr_data[week.to_s+' - '+year.to_s][:new_products] %></th>
						<% end %>
					<% end %>
				</tr>
				<% DressType.all.each do |dt| %>
				<tr>
					<td style="padding-left:15px"><%= dt.get_human_name %></td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= @wbr_data[week.to_s+' - '+year.to_s][:products_created_week][dt.name] %></td>
						<% end %>
					<% end %>
				</tr>
				<% end %>
				<tr>
					<td colspan="<%= @colspan %>"><h3>Demand</h3></td>
				</tr>
				<tr style="background-color:black; color:white">
					<td>Semana</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
						<th>
								<%= week.to_s+' - '+year.to_s %><br />
								<%= Date.commercial(year, week, 1).strftime('%d/%m') %>
						</th>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<td>Visits</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= number_with_delimiter @wbr_data[week.to_s+' - '+year.to_s][:visits] %></td>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<td>New Users</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= number_with_delimiter @wbr_data[week.to_s+' - '+year.to_s][:new_users] %></td>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<td>Newsletter Subscribers</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= number_with_delimiter @wbr_data[week.to_s+' - '+year.to_s][:new_subscribers] %></td>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<td>Newsletters Sent</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= @wbr_data[week.to_s+' - '+year.to_s][:newsletters_sent] %></td>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<td>Total FB Followers</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
							<td><%= number_with_delimiter @wbr_data[week.to_s+' - '+year.to_s][:fb_followers] %></td>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<td colspan="<%= @colspan %>"><h3>Category Analysis</h3>Cash In by Category</td>
				</tr>
				<tr style="background-color:black; color:white">
					<td>Semana</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
						<th>
								<%= week.to_s+' - '+year.to_s %><br />
								<%= Date.commercial(year, week, 1).strftime('%d/%m') %>
						</th>
						<% end %>
					<% end %>
				</tr>
				<% DressType.all.each do |dt| %>
				<tr>
					<td>
						<%= dt.get_human_name %>
					</td>
					<% (@init_year..@end_year).each do |year| %>
	      		<% (@init_week..@end_week).each do |week| %>
						<td>
						<% if !@wbr_data[week.to_s+' - '+year.to_s][:categories_data][dt.name].nil? %>
							<%= number_to_currency @wbr_data[week.to_s+' - '+year.to_s][:categories_data][dt.name][:price_week] %>
						<% else %>
							0
						<% end %>
						</td>
						<% end %>
					<% end %>
				</tr>
				<% end %>
			</table>
		</div>		
	</div>

	<div class="row">
		<div class="col-md-12" style="text-align:right">
			<%= link_to 'Agregar Información al WBR', new_wbr_datum_path, class: "btn btn-default btn-sm" %>
		</div>		
	</div>
	
</div>