<div class="container">
	<table class="table" style="font-size:10px">
		<tr>
			<th><%= 'controller_name' %></th>
			<th><%= 'action_name' %></th>
			<th><%= 'I18n.locale.to_s' %></th>
		</tr>
		<tr>
			<td><%= controller_name %></td>
			<td><%= action_name %></td>
			<td><%= I18n.locale.to_s %></td>
		</tr>
		<tr>
			<th><%= 'Title' %></th>
			<th><%= 'Meta Description' %></th>
			<th><%= 'Post Image Path to Facebook' %></th>
			<th><%= 'session[:matriclick_last_url]' %></th>
			<th><%= 'params[:type]' %></th>
		</tr>
		<tr>
			<td><%= @title_content %></td>
			<td><%= @meta_description_content %></td>
			<td><%= @og_image %></td>
			<td><%= session[:matriclick_last_url] %></td>
			<td><%= params[:type].to_s %></td>
		</tr>
		<tr>
			<th><%= 'notice' %></th>
			<th><%= 'session[:url_coming_from]' %></th>
			<th><%= 'Date.today' %></th>
			<th><%= 'Rails.env' %></th>
			<th><%= '@stocks_for_js' %></th>
		</tr>
		<tr>
			<td><%= notice %></td>
			<td><%= session[:url_coming_from] %></td>
			<td><%= Date.today %></td>
			<td><%= Rails.env %></td>
			<td><%= @stocks_for_js %></td>
		</tr>	
	</table>
</div>