<div class="container marketing">
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
  <!-- FOOTER -->
  <footer>
		<div class="row">
			<div class="col-md-2">
				<ul class="footer_links">
					<li class="footer_title">SÍGUENOS</li>
					<li><%= link_to image_tag('footer/social-black-facebook.jpg'), 'https://www.facebook.com/tramantaonline', 
							:target => '_blank' %> 
						<%= link_to image_tag('footer/social-black-twitter.jpg'), 'https://twitter.com/tramantaonline', 
								:target => '_blank' %>
					</li>
					<li style="margin-top:5px"><%= link_to image_tag('footer/social-black-pinterest.jpg'), 'http://pinterest.com/tramanta', 
						:target => '_blank' %></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="footer_links">
					<li class="footer_title">AYUDA</li>
					<li><%= link_to 'Suscribirse', new_user_registration_path %></li>
					<li><%= link_to 'Preguntas frecuentes', faq_elbazar_path %></li>
					<li><%= link_to 'Ingresar como empresa', new_supplier_session_path, :rel => 'nofollow' %></li>
					<li><%= link_to 'Contacto empresas', contact_elbazar_path %></li>
				</ul>	
			</div>
			<div class="col-md-3">
				<ul class="footer_links">
					<li class="footer_title">SERVICIO AL CLIENTE</li>
					<li><%= link_to 'Política de devoluciones', refund_policy_path, :id => 'form_inline' %></li>
					<li><%= link_to 'Solicitar devolución', new_refund_request_path %></li>
					<li><%= link_to 'Contacto clientes', contact_elbazar_path %></li>
				</ul>
			</div>
			<% if !current_user.nil? and (current_user.role_id == 1 or current_user.role_id == 2) %>
			<div class="col-md-3">
				<ul class="footer_links">
					<li class="footer_title">ADMINISTRACIÓN</li>
					<li><%= link_to('Administrador Tramanta', administration_index_path, :rel => 'nofollow') if current_user.role_id == 1 %></li>
					<li><%= link_to('Compras exitosas', purchases_path(:status => 'finalizado'), :rel => 'nofollow') if current_user.role_id == 1 %></li>
					<li><%= link_to 'Mis Tiendas', store_admin_select_store_path, :rel => 'nofollow' %></li>
				</ul>
			</div>
			<% end %>

		</div>
		<div class="row" style="text-align:center; margin-top:20px">
    	<p class="pull-right"><a href="#">Volver a arriba</a></p>
			<p>&copy; 2013 Tramanta &middot; <%= link_to 'Términos de Uso', terms_path %></p>
		</div>
  </footer>

</div><!-- /.container -->