<div class="container">
	<% current_user.supplier_accounts.each do |sa| %>
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-inverse" role="navigation">
				<ul class="nav navbar-nav">
				<li class="active"><%= link_to sa.fantasy_name, store_admin_select_store_path, :rel => 'nofollow' %></li>
				<li <%= 'class=active' if action_name == 'products'%>>
					<%= link_to 'Productos Publicados', store_admin_products_path(public_url: sa.public_url) %></li>
			  <li <%= 'class=active' if action_name == 'purchases'%>>
					<%= link_to 'Ventas en Tramanta', store_admin_purchases_path(public_url: sa.public_url) %></li>
				<li <%= 'class=active' if action_name == 'payments'%>>
					<%= link_to 'Pagos Realizados', store_admin_payments_path(public_url: sa.public_url) %></li>
				</ul>
			</nav>
		</div>
	</div>
	<% end %>
</div>