<% if params[:yield_fancybox] %>
	<%= yield %>
<% else %>
	<% title("Matriclick", false) %>
	<%= render "layouts/user_bar" %>
	<div class="clear"></div>
	<div class="center" style="width: 980px; position: relative;border: solid 3px #fff;	margin-top: 5px;">
		<div class="main_content">
			<%= render "layouts/navigation" %>
			<%= yield %>
		</div>	
	</div>
	<div class="clear"></div>
	<% unless @supplier_login_footer %>
		<%= render "layouts/footer" %>
	<% else %>
	  <%= render "layouts/supplier_login_footer" %>
	<% end %>
<% end %>
