<li class="menu_li">
	<div class="<%= "hover_style" if params[:controller] == "supplier_accounts" and not params[:action] == "calendar"%>">
		<%= link_to t('my_profile'), supplier_account_path(@supplier), :class => "left_link" %>
	</div>
</li>
<li class="menu_li">
	<div class="<%= "hover_style" if params[:controller] == "presentations" %>">
		<%= link_to t('presentation'), supplier_account_presentation_path(@supplier), :class => "left_link" %>
	</div>	
</li>

<% if should_show_items_link(@supplier) %>
	<li class="menu_li">
		<div class="<%= "hover_style" if params[:controller] == "dresses" %>">
			<%= link_to 'Items', supplier_account_dresses_path(@supplier), :class => "left_link" %>
		</div>	
	</li>
<% end %>

<% if @supplier.supplier_account.supplier_account_type_id == SupplierAccountType.find_by_name('Vestidos Boutique').id %>
	<li class="menu_li">
		<div class="<%= "hover_style" if params[:controller] == "gift_cards" %>">
			<%= link_to 'Gift Cards', supplier_account_gift_cards_path(@supplier), :class => "left_link" %>
		</div>	
	</li>
<% end %>

<% if admin? %> <!-- LANZAMIENTO: Modificar acá para Pinterest -->
	<li class="menu_li">
		<div class="<%= "hover_style" if controller_name == "albums" or controller_name == "album_photos" %>">
			<%= link_to t('albums'), supplier_account_albums_path(@supplier), :class => "left_link" %>
		</div>	
	</li>	
<% end %>

<% if !should_show_items_link(@supplier) %>
	<li class="menu_li">
		<div class="<%= "hover_style" if params[:controller] == "products" or params[:controller] == "product_images" %>">
			<%= link_to t('products'), supplier_account_products_path(@supplier), :class => "left_link" %>
		</div>	
	</li>	

	<li class="menu_li">
		<div class="<%= "hover_style" if params[:controller] == "services" or params[:controller] == "service_images" or params[:controller] == "schedules" %>">
			<%= link_to t('services'), supplier_account_services_path(@supplier), :class => "left_link" %>
		</div>	
	</li>

	<li class="menu_li">
		<div class="<%= "hover_style" if params[:controller] == "supplier_contacts" %>">
			<%= link_to t("contacts"), supplier_account_supplier_contacts_path(@supplier), :class => "left_link" %>
		</div>	
	</li>

	<li class="menu_li">
		<div class="<%= "hover_style" if params[:controller] == "conversations" %>">
			<%= link_to t("messages"), conversations_supplier_account_path(@supplier), :class => "left_link" %>
		</div>
		<% if (@supplier_conversations_unread_count ||= 0) > 0 %>
			<div class="notification_counter<%= "_selected" if(params[:controller] == "conversations") %> "><%= @supplier_conversations_unread_count %></div>	
		<% end %>
	</li>

	<li class="menu_li">
		<div class="<%= "hover_style" if params[:controller] == "supplier_accounts" and params[:action] == "calendar" %>">
			<%= link_to t("calendar"),  calendar_supplier_account_path(@supplier), :class => "left_link" %>
		</div>
	</li>

	<li class="menu_li">
		<div class="<%= "hover_style" if params[:controller] == "statistics" %>">
			<%= link_to t("statistics"),  statistics_supplier_account_path(@supplier), :class => "left_link" %>
		</div>
	</li>

	<li class="menu_li">
		<div>
			<% unless @supplier.supplier_account.public_url.blank? %>
		    <%=	link_to t('preview'), supplier_products_and_services_path(@supplier, :preview => true, :public_url => @supplier.supplier_account.public_url), :class => "left_link", :target => "_blank" %>			
			<% end %>
	  </div>
	</li>
<% end %>

<% if !current_user.nil? and current_user.role_id == 1 %>
	<li class="menu_li">
		<div>
			<%= link_to 'Volver', administration_suppliers_list_path, :class => "left_link" %>
	  </div>
	</li>
<% end %>