<!-- Fixed navbar -->
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	<%= link_to "Tramanta.com", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Cuenta', supplier_account_path(@supplier) %></li>
				<% if !@supplier.supplier_account.public_url.blank? %>
					<li><%= link_to 'Ver Datos',	supplier_description_path(:public_url => @supplier.supplier_account.public_url) %> </li>
				<% else %>
					<li><%= link_to 'Completar Datos', edit_supplier_account_path(@supplier) %> </li>
				<% end %>
				<li><%= link_to 'Productos', supplier_account_dresses_path(@supplier) %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
				<% if supplier_signed_in? %>
					<li>
						<%= link_to current_supplier.email, [current_supplier.supplier_account] %> 
					</li>
					<li>
						<%= link_to t("change_password").downcase, edit_supplier_registration_path %>
					</li>
					<li>
						<%= link_to "Salir", destroy_supplier_session_path, method: :delete %>
					</li>
				<% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<%= yield %>

<%= render "layouts/footer" %>
